extends ../_core/_html

block append vars
  include _functions
  include _vars
  include _logo
  include _nav
  - layout = 'main/_html'
  - INCLUDE_THEMEJS = true

block stylesheet
  -
    fonts = [
      'https://fonts.googleapis.com/css2?',
      [
        'family=Roboto:ital,wght@0,100..900;1,100..900',
        //- 'family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700',
        //- 'family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700',
        'family=Source+Code+Pro:ital,wght@0,100..900;1,100..900',
      ].join('&'),
      'display=swap'
    ].join('&');
  link(rel="preconnect" href="https://fonts.googleapis.com")/
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)/
  link(href=fonts rel="stylesheet")#_fonts/
  +cssv(homeUri+'css/nova.css')#_style
  +cssv(homeUri+'css/basic.css')#_basicStyle

mixin logo_bar
  ._color_1: ._pa_5
    +logo
    span#maindesc!=description

mixin simplestHeader
  header#_header
    +logo_bar

mixin simpleHeader
  header#_header
    +logo_bar
    +main_nav

mixin basic_helloWorld
  pre.pre.
    &nbsp;
    This is a template.
    Edit this document to get started.
    &nbsp;
  +backLink._link._a3|Back

block article
  article._article
    section._container._scrollable: +basic_helloWorld
    hr
    section._container._scrollable: pre.pre: +pageData()

mixin bottomRightLinks(href,text)
  ._small: +a(href||homeUri)._a2._hover_link!=text||'Home'
block footer
  footer#_footer._color
    ._relative: ._absolute_right: ._container
      block bottomRightLinks
        +bottomRightLinks
    ._container: small| &copy; !{year} !{author}
