extends ../_core/_html

block append vars
  include _functions
  include _vars
  include _logo
  include _nav
  - layout = 'main/_html'
  - INCLUDE_THEMEJS = true

block stylesheet
  +cssv(homeUri+'css/nova.css')#_style
  +cssv(homeUri+'css/basic.css')#_custom_style

block style
  +logo_style

mixin simpleHeader
  header._container
    +logo
    span#maindesc!=description
  +main_nav

mixin basic_helloWorld
  pre._scrollable.pre.
    &nbsp;
    Hello, there.
    This is a template to get you started.
    Copy the code from '#[code !{pageid}]' to create a page like this.

    #[+backlink._link._a31 Back]

block article
  article._article: section._container
    +basic_helloWorld
    hr
    pre._scrollable.pre: +pageData()

mixin bottomRightLinks(href,text)
  ._small: +a(href||homeUri)._a2._hover_link!=text||'Home'
block footer
  footer#_footer._color
    hr._m0
    ._relative: ._absolute(style="top:.1rem;left:auto;right:0"): ._container
      block bottomRightLinks
        +bottomRightLinks
    ._container: small| &copy; !{year} !{author}
