mixin menu_a(v,classes)
  a(href=homeUri+v[1] class=classes.join(' ') title=v[3]) !{v[2]}

mixin menu_m1(links)
  nav._container
    each v in links
      - classes = ['_no_u'];
      - if(pageid === v[0]) classes = ['_no_color']
      +l
      +menu_a(v,classes)

mixin menu_a1(links)
  nav
    each v in links
      - classes = ['_a11'];
      - if(pageid === v[0]) classes.push('_active')
      +menu_a(v,classes)

mixin menu_a2(links)
  nav._container
    each v in links
      - classes = ['_a2'];
      - if(pageid === v[0]) classes.push('_active')
      +menu_a(v,classes)

//- --------------------------------------------------------------

//- pageid, uri, title

mixin main_nav
  hr._m0
  #_main_nav._color_2
    +menu_a1([
      ['basic','basic','Basic'],
      ['starter','starter','Starter'],
      ['lab','lab','Lab'],
    ])
  hr._m0

mixin core_nav
  //- ['basic/temp','basic/index.html','Home'],
  +menu_a2([
  ])

mixin basic_nav
  //- ['basic/form','basic/form.html','Form'],
  //- ['basic/fieldset','basic/fieldset.html','Fieldset'],
  //- ['basic/legend','basic/legend.html','Legend'], 
  //- ['basic/label','basic/label.html','Label'],
  //- ['basic/input','basic/input.html','Input'],
  //- ['basic/select','basic/select.html','Select'],
  //- ['basic/textarea','basic/textarea.html','Textarea'],
  //- ['basic/checkbox','basic/checkbox.html','Checkbox'],
  //- ['basic/radio','basic/radio.html','Radio'],
  //- ['basic/image','basic/image.html','Image'],
  //- ['basic/table','basic/table.html','Table'],
  //- ['basic/button','basic/button.html','Button'],
  ._color_1._pa_125: +menu_a2([
    ['basic/basic','basic/basic.html','Basic'],
    ['basic/text','basic/text.html','Text'],
    ['basic/table','basic/table.html','Table'],
    ['basic/link','basic/link.html','Link'],
    ['basic/details','basic/details.html','Details'],
    ['basic/flex','basic/flex.html','Flex'],
    ['basic/container','basic/container.html','Container'],
    ['basic/alignment','basic/alignment.html','Alignment'],
  ])

mixin icons_nav
  ._color_1._pa_125: +menu_a2([
    ['basic/i-font-awesome','basic/i-font-awesome.html','Font Awesome Icons'],
    ['basic/i-text','basic/i-text.html','Text Icons'],
    ['basic/i-svg','basic/i-svg.html','SVG Icons'],
  ])

mixin lab_nav
  ._color_1._pa_125: +menu_a2([
    ['lab/temp','lab/temp.html','Temp'],
    ['lab/test','lab/test.html','Test'],
    ['lab/text','lab/text.html','Text'],
    ['lab/flex','lab/flex.html','Flex'],
    ['lab/storage','lab/storage.html','Storage'],
  ])