extends ../../_basic/_html

block append vars
  -
    pageid      = 'core/blank'
    pageUrl     = siteUrl + '/core/blank.html'
    title       = `[untitled] | ${name}`
    description = '[undescribed]'
    author      = 'Techie Joe'