extends ../../_core/_error

block append vars
  -
    pageid      = 'core/e403'
    pageUrl     = siteUrl + '/core/e403.html'
    title       = `Bad request`
    description = 'Malformed or invalid request.'

  - heading = 'Bad request'
  - about   = `Your request is not valid.`

//- Your request is malformed or invalid. Please fix and try again.