extends ../../_core/_error

block append vars
  -
    pageid      = 'core/e401'
    pageUrl     = siteUrl + '/core/e401.html'
    title       = `Unauthorized`
    description = `Authentication required.`

  - heading = 'Unauthorized'
  - about   = `Authentication required to access.`

  //- You don't have permission to access this page.

