extends ../../_core/_error

block append vars
  -
    pageid      = 'core/e403'
    pageUrl     = siteUrl + '/core/e403.html'
    title       = `Forbidden`
    description = 'Access denied.'

  - heading = 'Forbidden'
  - about   = `Sorry, you are not allowed to access this page.`

