extends ../../_core/_html

block append vars
  -
    pageid      = 'core/html'
    pageUrl     = siteUrl + '/core/html.html'
    title       = '[untitled]'
    description = '[undescribed]'
    author      = 'Techie Joe'