extends _html

block append vars
  -
    pageid      = 'core'
    pageUrl     = siteUrl + '/core/index.html'
    title       = `Core`
    description = 'The Core'
    author      = 'Techie Joe'

block article
  article._article
    h2._h1 !{title}
    section: +helloWorld