extends ../../_basic/_html

block append vars
  -
    pageid      = 'core'
    pageUrl     = siteUrl + '/core/index.html'
    title       = `Index | ${name}`
    description = 'The core index.'
    author      = 'Techie Joe'

block header
  +simpleHeader