extends ../core/_error

block append vars
  -
    pageid      = 'core/e404'
    pageUrl     = siteUrl + '/core/e404.html'
    title       = `Not found`
    description = 'There is nothing to show.'

  - heading = 'Not found'
  - about   = 'Sorry, there is nothing to show.'

  //- Sorry, there is nothing to show.
  //- We can't find what you're looking for.
  //- Sorry, you are looking for something that does not exist.
