extends _html

block append vars
  -
    pageid      = 'template/starter'
    pageUrl     = siteUrl + '/template/starter/index.html'
    title       = `Starter`
    description = 'Starter templates'

block article
  article._article
    section._container._scrollable: pre.pre.
      // Coming soon ..
    //- pre.

    //- section._p1
      h3._h7| Starter templates
      +boxap: +menu_a2([
      ])
      ._flex._gap_5._p
        +boxam([
        ])

    //- section._p1
      h3._h7| Starter components
