extends ../../_basic/_html

block append vars
  -
    pageid      = 'theme/1_one'
    pageUrl     = siteUrl + '/theme/1_one.html'
    title       = `Theme One | ${name}`
    description = 'Theme One.'
    author      = 'Techie Joe'

block article
  article._article._container
    section: pre.pre| // Theme One
    section: +basic_helloWorld