extends ../../_basic/_html

mixin themes_menu
  +menu_a2([
    ['theme/theme_1','theme/theme_1.html','One'],
  ])

block header
  header._container
    +logo
    span#maindesc= description
  +main_nav

mixin boxa
  ._color_1._radius_5&attributes(attributes): block

mixin boxap
  +boxa._p._pa1px: block

mixin boxam(menu)
  +boxa._f: +menu_a2(menu)