extends ../../_basic/_html

block append vars
  -
    pageid      = 'theme/basic'
    pageUrl     = siteUrl + '/theme/basic'
    title       = `Basic`
    description = 'Basic Preview'
    author      = 'Techie Joe'