extends ../../_core/_html

block append vars
  -
    pageid      = 'theme/core'
    pageUrl     = siteUrl + '/theme/core'
    title       = 'Core'
    description = 'Core Preview'
    author      = 'Techie Joe'