extends _html

block append vars
  -
    pageid      = 'theme'
    pageUrl     = siteUrl + '/theme/index.html'
    title       = `Themes`
    description = 'Building themes.'

block article
  article._article._container

    section._p1
      h3._h7| Themes
      +boxap: +themes_menu