extends _html

block append vars
  -
    pageid      = 'theme'
    pageUrl     = siteUrl + '/theme/index.html'
    title       = `Themes | ${name}`
    description = 'Building themes.'

block article
  article._article._container
    h3._h7| Themes
    +boxap: +themes_menu