<!DOCTYPE html>
<html lang="en">
  
  <!-- Nova Builder v0.1.0 |  -->
  <!-- layout:main/_html -->
  
  <head>
    <meta charset="utf-8"/>
    <title>Template One | Nova Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222222"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/nova/site/icons/apple-touch-icon.png?v=0.1.0"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/nova/site/icons/favicon-32x32.png?v=0.1.0"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/nova/site/icons/favicon-16x16.png?v=0.1.0"/>
    <link rel="icon" type="image/x-icon" sizes="any" href="/nova/site/icons/favicon.ico?v=0.1.0"/>
    <!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    <meta name="description" content="Template One Info"/>
    <meta name="author" content="Techie Joe"/>
    <meta name="publisher" content="[unknown]"/>
    <meta property="og:title" content="Template One"/>
    <meta property="og:description" content="Template One Info"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://techiejoe.github.io/nova/site/template/one/index.html?utm_source=homescreen"/>
    <meta property="og:image"/>
    <meta property="og:image:alt"/>
    <style id="_coreStyle">
      ._invisible { visibility: hidden !important }
      ._hide, ._hidden, [hidden] { display: none !important }
      ._flex { display:flex }
      ._scrollable { overflow: auto }
      html,body { font-family:system-ui,sans-serif }
      hr { border:0;border-top:1px solid #888 }
      .isvg svg { max-width:1em;max-height:1em }
    </style>
    <style id="_needjs" onload="this.remove()">
      ._needjs { display: none !important; }
      
    </style>
    <script>
      ((d=document,b=d.documentElement||d.body,c='_invisible')=>{
        b.classList.add(c);d.addEventListener('DOMContentLoaded',e=>{b.classList.remove(c)});
      })();
      
    </script>
    <script>window._host = 'bG9jYWxob3N0LHRlY2hpZS1qb2UuZ2l0aHViLmlvLHRoZW1lanMucGFnZXMuZGV2';</script>
    <script type="text/javascript" src="/nova/site/js/theme_v2.0.js?v=0.1.0" defer="defer"></script>
    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" id="_robotoFont"/>
    <link rel="stylesheet" media="all" href="/nova/site/css/nova.css?v=0.1.0" id="_style"/>
    <link rel="stylesheet" media="all" href="/nova/site/css/basic.css?v=0.1.0" id="_basicStyle"/>
    <style>/* your style goes here */</style>
  </head>
  <body>
    <div id="_views">
      <div class="_view" id="_main_view">
        <noscript class="_pa _tc_red _b _mono">// Please enable javascript</noscript>
        <header id="_header"></header>
        <main id="_main">
          <article class="_article">
            <section class="_container _scrollable">
              <pre class="pre">&nbsp;
This is a template.
Edit this document to get started.
&nbsp;
<a class="_needjs _link _a31" href="#" onclick="event.preventDefault();(function(w){var h=w.history;w.opener?w.close():h.length>1?h.back():w.location.href='/';})(window)" title="Back to previous page">Back</a>
</pre>
            </section>
            <hr>
            <section class="_container _scrollable">
              <pre class="pre">
name             = Nova Builder
version          = 0.1.0

author           = Techie Joe
license          = MIT

today            = Wed, 30 Jul 2025 05:17:27 GMT
year             = 2025

layout           = main/_html
homeUri          = /nova/site/

pageid           = template/one
pageUrl          = https://techiejoe.github.io/nova/site/template/one/index.html
title            = Template One
description      = Template One Info

og_url           = https://techiejoe.github.io/nova/site/template/one/index.html?utm_source=homescreen
og_title         = Template One
og_description   = Template One Info
og_type          = website
og_image         = undefined
og_imageAlt      = undefined

siteUrl          = https://techiejoe.github.io/nova/site
authorUrl        = https://techiejoe.github.io
sourceUrl        = https://github.com/techie-joe/nova
localUrl         = http://localhost/nova/site
</pre>
            </section>
          </article>
          <aside class="_side_article"></aside>
        </main>
        <aside class="_side_bar"></aside>
        <footer class="_color" id="_footer">
          <div class="_relative">
            <div class="_absolute_right">
              <div class="_container">
                <div class="_small"><a class="_a2 _hover_link" href="/nova/site/">Home</a>
                </div>
              </div>
            </div>
          </div>
          <div class="_container"><small>&copy; 2025 Techie Joe</small></div>
        </footer>
      </div>
    </div>
    <aside id="_widgets"></aside>
    <script>// your script goes here</script>
  </body>
</html>