extends ../../_basic/_html

block append vars
  -
    pageid      = 'themejs'
    pageUrl     = siteUrl + '/themejs/index.html'
    title       = `ThemeJs`
    description = 'ThemeJs plugin.'
    //- description = 'A universal web plugin that toggles through multiple themes.'

  -
    var tjs = {
      name: 'ThemeJs',
      version: '2.0.0 - b337.02',
      author: 'Techie Joe',
    };

block header
  +simpleHeader

block article
  article._article
  
    section._container: nav
      +a(onclick='theme.set("");' title='theme.set("")')._a3|Default
      +a(onclick='theme.set("_dark");' title='theme.set("_dark")')._a3|Dark
      +a(onclick='theme.set("_pink");' title='theme.set("_pink")')._a3|Pink
      +a(onclick='theme.set("_cream");' title='theme.set("_cream")')._a3|Cream
      +a(onclick='theme.set(["_dark",""]);' title='theme.set(["_dark",""])')._a3 Common
      +a(onclick='theme.set(["_dark","_cream","","_pink"]);' title='theme.set(["_dark","_cream","","_pink"])')._a3._active All
      ='|'
      +a('test.html')._a3 Test
    hr

    section._container: ._960._flex._gap2._mt2
      ._f1
        h3| Open new possibilities with ThemeJs
        p._text_justify| #[b ThemeJs] is a lightweight, easy to use, and highly configurable theme switcher for your website and web application. Built with user experience in mind, it is designed to be simple, easy to use, with no external dependencies. It is a perfect solution for those who want to give their users the ability to switch between different themes on their website. ThemeJs is fully customizable, compatible with all major browsers and devices, and can be easily integrated into any website and web application.
      ._f2
        h3| Available in light, dark and more ..
        p._text_justify| ThemeJs makes it easy to switch between different themes on your website. You can easily switch between pre-configured themes by clicking a button or by using the keyboard shortcut #[kbd Alt + T]. With a simple use of #[code='theme.set()'] and #[code='theme.change()'], you can create a unique experience for your websites and web applications.
      ._f3
        h3| OS aware
        p._text_justify| ThemeJs automatically adapts to user's operating system preferences. This feature can be seen here in this demo, try changing your operating system theme preference.
      ._f4: ._p._color_1._radius_5._mono._smaller._ph: ._pa_5
        p| !{tjs.name} by !{tjs.author}
        p| Version !{tjs.version}
      ._f3
        blockquote._blockquote._small(style="max-width:50em")| This plugin is coded and compiled to #[b='ECMAScript 6 (ES6) 2015 Standard'], without any dependency to other scripts. The plugin are kept neatly within scope and easily accessible using an interface.