// ---------------------------------------------------------------
// variables
// ---------------------------------------------------------------

// fonts
$system: system-ui,sans-serif;
$sans: "Arial",sans-serif;
$serif: "Georgia",serif;

$monospace: "Consolas",monospace,monospace;
// the double monospace is to Fix font size inheritance and scaling in all browsers.

$baseFont: $sans;