extends ../../../_core/_html

block append vars
  -
    pageid      = 'template/core'
    pageUrl     = siteUrl + '/template/core/index_.html'
    title       = `Core`
    description = 'Core Template Information'
    author      = 'Techie Joe'

//- block article
  article._article: +helloWorld