extends ../../../_core/_html

block append vars
  -
    pageid      = 'lab/core'
    pageUrl     = siteUrl + '/lab/core/index.html'
    title       = `[untitled]`
    description = '[undescribed]'
    author      = '[unknown]'

//- block article
  article._article: +helloWorld