extends ../../../_core/_html

block append vars
  -
    pageid      = 'template/core'
    pageUrl     = siteUrl + '/template/core/index.html'
    title       = `Core`
    description = 'Core Preview'
    author      = 'Techie Joe'

block article
  article._article
    section: +helloWorld