extends ../../../_basic/_html

//- block append vars
  -
    pageid      = 'template/one'
    pageUrl     = siteUrl + '/template/one/index.html'
    title       = `[untitled]`
    description = '[undescribed]'
    author      = '[unknown]'

//- block article
  article._article._container: +basic_helloWorld