
// colors
$select_color: #fa1;
$select_tc   : #000;
$border_color: #666;
$outline_color: #f0b;

// bg
$baseBg: #DDD;
$baseBc: #444;

// active
$baseAg: #a3a3a3;
$baseAc: #000;

// hover
$baseHg: #b7b7b7;
$baseHc: #000;

// dark colors
$dark_baseBg: #222;
$dark_baseBc: #BBB;

// active
$dark_baseAg: #3a3a3a;
$dark_baseAc: #FFF;

// hover
$dark_baseHg: #555;
$dark_baseHc: #FFF;

// color names
$blue   : #13b;
$purple : #929;
$orange : #f50;
$red    : #D00;
$green  : #080;
$contra : #000;

// dark color names
$dark_blue   : #79e;
$dark_purple : #d07ed0;
$dark_orange : #e81;
$dark_red    : #f55;
$dark_green  : #0a0;
$dark_contra : #fff;

// link colors
$linkBc          : $blue;
$linkBc_hover    : $orange;
$linkBc_visited  : $purple;
$linkBc_active   : $red;

// dark link colors
$dark_linkBc          : $dark_blue;
$dark_linkBc_hover    : $dark_orange;
$dark_linkBc_visited  : $dark_purple;
$dark_linkBc_active   : $dark_red;
