
// colors
$select_color: #fa1;
$select_tc   : #000;
$border_color: #888;
$outline_color: #f0b;

// bg
$baseBg: #DDD;
$baseBc: #444;

// active
$baseAg: #C5C5C5;
$baseAc: #000;

// hover
$baseHg: #B4B4B4;
$baseHc: #000;

// dark colors
$dark_baseBg: #222;
$dark_baseBc: #BBB;

// active
$dark_baseAg: #3a3a3a;
$dark_baseAc: #FFF;

// hover
$dark_baseHg: #545454;
$dark_baseHc: #FFF;

// color names
$blue   : #1133bb;
$purple : #992299;
$orange : #ff5500;
$red    : #DD0000;
$green  : #008800;
$contra : #000000;

// dark color names
$dark_blue   : #7799ee;
$dark_purple : #c17ac1;
$dark_orange : #ff8822;
$dark_red    : #ff5555;
$dark_green  : #00aa00;
$dark_contra : #ffffff;

// link colors
$linkBc          : $blue;
$linkBc_hover    : $orange;
$linkBc_visited  : $purple;
$linkBc_active   : $red;

// dark link colors
$dark_linkBc          : $dark_blue;
$dark_linkBc_hover    : $dark_orange;
$dark_linkBc_visited  : $dark_purple;
$dark_linkBc_active   : $dark_red;
