
// base colors
$select_color  : #fa1;
$select_tc     : #000;
$border_color  : #666;
$outline_color : #f0b;

// color names
$blue   : #15b;
$purple : #939;
$orange : #f50;
$red    : #D00;
$green  : #080;
$contra : #000;

// dark color names
$dark_blue   : #79e;
$dark_purple : #d07ed0;
$dark_orange : #e81;
$dark_red    : #f55;
$dark_green  : #0a0;
$dark_contra : #fff;

// --------------------------------------------------------- light

// bg
$baseBg_1 : #CCC;
$baseBg   : #DDD;
$baseBg_2 : #EEE;
$baseBc   : #444;

// active
$baseAg   : #aaa;
$baseAc   : #000;

// hover
$baseHg   : #bbb;
$baseHc   : #000;

// ---------------------------------------------------------- dark

// bg
$dark_baseBg_1 : #111;
$dark_baseBg   : #222;
$dark_baseBg_2 : #333;
$dark_baseBc   : #BBB;

// active
$dark_baseAg   : #444;
$dark_baseAc   : #FFF;

// hover
$dark_baseHg   : #555;
$dark_baseHc   : #FFF;

// ---------------------------------------------------------- link
$linkBc         : $blue;
$linkBc_hover   : $orange;
$linkBc_visited : $purple;
$linkBc_active  : $red;

$dark_linkBc         : $dark_blue;
$dark_linkBc_hover   : $dark_orange;
$dark_linkBc_visited : $dark_purple;
$dark_linkBc_active  : $dark_red;