// __TLDR : Styles for basic page templates.

@use "copyright";

@use "mixins" as *;
@use "vars" as *;
@use "colors" as *;

// ---------------------------------------------------------------

#logo { margin-right: .5rem }

._view { padding-bottom:40px }

.pre { font-size:.9em }

#_footer {
  & { position:fixed;top:auto;bottom:0;left:0;right:0 }
  ._container { margin:0;padding:.5rem }
}

// ---------------------------------------------------------------

._pink, ._pink body,
._pink ._color {
  background-color: ghostwhite;
  color: #a14e77;
  border-color: hotpink;
}
._pink ._color_1 {
  background-color: hotpink;
  color: white;
  border-color: #c78a8a;
}
._pink ._color_2 {     
  background-color: #ff9fcf;
  color: #691e4a;
  border-color: #691e4a;
}
._pink ._blockquote {
  background-color: #ff9fcf44;
  border-color: #d7408b;
}
._pink button,
._pink a[href],
._pink hr { border-color: #ffa1cf }
._pink ._tc_contra,
._pink h6,
._pink h5,
._pink h4,
._pink h3,
._pink h2,
._pink h1 { color: #d7408b; }
._pink ._link { color: #c71d72; }
._pink ._link:hover { color: #ff899e; }

._cream, ._cream body,
._cream ._color {
  background-color: linen;
  color: #604429;
  border-color: #7a7243;
}
._cream ._color_1 {
  background-color: #b2977d;
  color: white;
  border-color: #907a5b;
}
._cream ._color_2 {     
  background-color: #fde7d1;
  border-color: #604429;
}
._cream ._blockquote,
._cream button,
._cream a[href],
._cream hr { border-color: #a4937a; }
._cream ._tc_contra,
._cream h6,
._cream h5,
._cream h4,
._cream h3,
._cream h2,
._cream h1 { color: #422c17ff; }
._cream ._link { color: #5a8510; }
._cream ._link:hover { color: #5a8510; }  