// __TLDR : Styles for basic page templates.

@use "copyright";

@use "mixins" as *;
@use "vars" as *;
@use "colors" as *;

// ---------------------------------------------------------------

#logo {
  font-size:1.2em;
  font-weight: 700;
  padding: .5rem .75rem;
  display: inline-block;
  cursor: default;
  letter-spacing: -0.05em;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: top;
  .s1 { color:$blue }
  .s2 { color:#000;font-weight:400 }
  ._dark & {
    .s1 { color:$dark_blue }
    .s2 { color:#fff }
  }
  ._pink  & {
    .s1 { color:#8d2e5d }
    .s2 { color:#fff }
  }
  ._cream & {
    .s1 { color:#422c17 }
    .s2 { color:#fff }
  }
  @at-root a#{&} {
    & { cursor:pointer;text-decoration:none }
    &:hover  { background-color: rgba(#888,.3) }
    &:active { opacity:.3 }
  }
  @at-root ._cream a#{&} {
    &:hover { background-color:rgba(#fff,.3) }
  }
  @at-root ._pink a#{&} {
    &:hover { background-color:rgba(#fff,.3) }
  }
  @at-root ._dark a#{&} {
    &:hover { background-color:rgba(#fff,.2) }
  }
}

#maindesc {
  font-size: 0.9em;
  line-height: 1.25;
  padding: 0.84rem;
  display: inline-block;
  vertical-align: top;
}
.mainPage {
  .table{ max-width:17em }  
  #logo {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
  }
  #maindesc {
    font-size:1rem;
    text-align: center;
    position: relative;
    top: -1.6rem;
    font-weight: 400;
    color: inherit;
  }
}

// ---------------------------------------------------------------

._view { padding-bottom:40px }

.pre { font-size:.9em }

#_footer {
  & { position:fixed;top:auto;bottom:0;left:0;right:0 }
  ._container { margin:0;padding:.5rem }
}

// ---------------------------------------------------------------

._pink {
  &,& body,& ._color {
    color: #53539e;
    background-color: #f1ecf4;
    border-color: #4e4e8d;
  }
  ._border,
  button, a { border-color:inherit }
  hr { border-color: #ffa1cf }
  ._h7,._hx1,._hx2,._hx3,
  h6,h5,h4,h3,h2,h1 { color: #d7408b; }
  ._tc_contra { color:#29294b }
  ._blockquote {
    background-color: #ff9fcf44;
    border-color: #d7408b;
  }
  ._color_1 {
    background-color: hotpink;
    color: #ffd3e9;
    border-color: #ffd3e9;
    button, a { border-color:inherit }
    h6,
    h5,
    h4,
    h3,
    h2,
    h1 { color: #8d2e5d; }
  }
  ._color_2 {     
    background-color: #ffd3e9;
    color: #8d2e5d;
    border-color: #4e4e8d;
  }
}

._cream {
  &,& body,& ._color {
    background-color: linen;
    color: #604429;
    border-color: #7a7243;
  }
  & {
    ._blockquote,
    hr { border-color: #a4937a; }
    h6,
    h5,
    h4,
    h3,
    h2,
    h1 { color: #422c17; }
  }
  ._color_1 {
    background-color: #b2977d;
    color: snow;
    border-color: #907a5b;
  }
  ._color_2 {     
    background-color: #e4d0bb;
    border-color: #604429;
  }
}