// __TLDR : Core Nova Styles.

@use "copyright";

@use "sass:math";

@use "mixins" as *;
@use "vars" as *;
@use "colors" as *;

// ---------------------------------------------------------------
// standardize
// ---------------------------------------------------------------

@use "normalize";

// ._reset_font { font: inherit }
// ._reset_color { color: inherit }
._reset_border { border: 0 }
._reset_margin { margin: 0 }
._reset_padding { padding: 0 }
._reset_fontsize { font-size: 1rem }
._reset_lineheight { line-height: 1.5 }
._reset_baseline { vertical-align: baseline }
._reset_bg { background-color: transparent }

// _reset these elements:
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video,

// reset these elements: for older browsers.
nav, main, article, section, header, footer, aside, picture,
figure, details, figcaption, hgroup, menu { display: block }

// 1. standardize line height for html in all browsers.
// 2. prevent iOS adjustments after orientation changes.
html {
  @extend ._reset_margin;
  @extend ._reset_fontsize;
  @extend ._reset_lineheight; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-font-smoothing: antialiased;
}

// to clear pass floating elements.
// to contain marginal elements.
body {
  @extend ._reset_margin;
  @extend ._clearfix;
}

// _clearfix
// to clear pass floating elements.
// to contain marginal elements.
// The use of 'table' rather than 'block' is only necessary if
// using ::before to contain the top-margins of child elements.
// 
._clearfix {
  &::before, &::after { content: ""; display: table; clear: both }  
}

// better looking horizontal rule.
// 1. Fix box sizing in Firefox.
// 2. Show overflow in Edge and IE.
hr {
  @extend ._block;
  @extend ._reset_padding;
  box-sizing: content-box; height:0; /* 1 */
  overflow: visible; /* 2 */
  border:0;border-top:1px solid rgba($border_color,.4);
}

// fix the odd em font sizing and scaling.
// improve readability and correct scrollbar behavior
pre,._pre {
  @extend ._reset_fontsize;
  font-family: $monospace;
  line-height: 1.25;
}

// standardize paragraphs spacing.
h1,._h1,h2,._h2,h3,._h3,h4,._h4,h5,._h5,h6,._h6,
._h7,._hx1,._hx2,._hx3,
ul,ol,dl,
blockquote,._blockquote,
pre,._pre,
hr,
p,._p { margin: .5rem 0 }
._p1  { margin: 1rem 0 }

// standardize line height for paragraphs.
p,._p,._p1 { @extend ._reset_lineheight; }
h1,._h1,h2,._h2,h3,._h3,h4,._h4,h5,._h5,h6,._h6,
._h7,._hx1,._hx2,._hx3 { line-height: 1.25 }

// standardize font size for headings.
h1,._h1,h2,._h2,h3,._h3,h4,._h4,h5,._h5,h6,._h6,
._h7,._hx1,._hx2,._hx3 { @extend ._b; @extend ._tc_contra; }

// fix display in all browsers.
summary { @extend ._cursor_pointer; display: list-item; /* 2 */ }

// sub, sup
sub, sup {
  @extend ._reset_baseline;
  @extend ._smaller;
  position: relative;
}
sub { bottom:-.25em }
sup { top:-.55em }

// enforce correct font weight.
// fix font weight in Chrome, Edge, and Safari.
b, strong { @extend ._b; }

// do not enforce italic on i tag, being used as icon tag also
// i { @extend ._i }

// enforce strike
s { @extend ._s; }

// enforce underline and improve readability.
u { @extend ._u; }

// remove gray background on active links in IE 10.
a,._a { @extend ._reset_bg; }

// 1. remove the bottom border in Chrome 57-
// 2. fix underline in Chrome, Edge, IE, Opera, and Safari.
// 3. improve intuitivity.
abbr[title] {
  @extend ._reset_border; /* 1 */
  @extend ._u_dotted; /* 2 */
  @extend ._cursor_help; /* 3 */
}

// buttons
button { @extend ._cursor_pointer; }

// fix fonts
code, kbd, samp { @extend ._mono; @extend ._tc_purple; }

// fix font size.
small { @extend ._small; }

// icons
._icon {
  @extend ._no_i;
  @extend ._inblock;
  line-height:1em;
  i { @extend ._no_i; }
}
.itext,
.isvg,
.fa,.fab,.fa-brands,.far,.fa-regular,.fas,.fa-solid {
  @extend ._inblock;
  @extend ._text_center;
  line-height:1em;
  min-width:1em;
  min-height:1em;
}
.itext { font-family: $itext; }
.isvg svg { vertical-align:top }

// remove border on images inside <a> links in IE 10.
img { border-style: none }

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
// 
audio, canvas, iframe, img, svg, video { vertical-align:middle }

// modern media defaults
picture { max-width:100%; height:auto }

table {

  // set default table
  & { border-collapse: collapse; border-spacing: 0 }
  th,td { @extend ._reset_padding; }
  th { @extend ._tc_contra; }

  // set basic table
  &._table { th,td { @extend ._border; padding: .2em .5em } }

}

// reset fieldset in all browsers.
fieldset,._fieldset {
  @extend ._reset_border;
  @extend ._reset_margin;
  @extend ._reset_padding;
}
._fieldset { border: 1px solid $border_color; }

// Allow only vertical resizing of textareas.
textarea { resize: vertical }

// fix display in IE 10+.
template { @extend ._hidden; }

// ---------------------------------------------------------------
// base
// ---------------------------------------------------------------

// ::selection
// - must follow this format. - will not work otherwise.
// - each vendor specific must be seperately declared.
// - cant combine. so dont use entend.
// - use background-color not background.
// - dont append or include other class.

@mixin selection {
  background-color: $select_bg !important;
  color: $select_tc !important;
  text-shadow: none !important;
}

::-moz-selection { @include selection; }
::selection      { @include selection; }
._select         { @include selection; }
._no_select {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

html,body {
  @extend ._scrollable;
  @extend ._color;
  font-family: $baseFont;
}

#_views {
  @extend ._scrollable;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: auto;
  min-height: 100%;
}

._960 { max-width: 60em; margin: auto }

._container { margin: .5rem }

dd { display: list-item; margin-inline-start: 2em }
dd._no_bullet { @extend ._block }

ol,ul { padding-left: 2em; padding-inline-start: 2em }

blockquote,
._blockquote {
  & {
    padding: .5em 1em;
    border-left: .5em solid transparent;
  }
}
._blockquote {
  & {
    border-left-color: rgba($baseBc,.4);
    background-color: rgba($baseBc,.1);
  }
  ._dark & {
    border-left-color: rgba($dark_baseBc,.4);
    background-color: rgba($dark_baseBc,.1);
  }
}

details { @extend ._borderbox; }
summary {
  & { padding:.25em .5em }
  &:hover {
    @include color( $baseHc, $baseHg );
    ._dark & { @include color( $dark_baseHc, $dark_baseHg ); }
  }
  &:active { opacity: .3 }
  &._no_marker { list-style: none }
  &._no_marker::-webkit-details-marker { display: none }
  ._marker {
    @extend ._inblock;
    margin-right: .25em;
    transition: transform 0.3s ease;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid $baseBc;
    ._dark & { border-left-color: $dark_baseBc; }
  }
}
details[open] summary ._marker { transform: rotate(90deg) }

._color {
  & { @include color( $baseBc, $baseBg ); }
  &._dark,._dark & { @include color( $dark_baseBc, $dark_baseBg ); }
}

._color_1 {
  & { @include color( $baseBc, #ccc ); }
  &._dark,._dark & { @include color( $dark_baseBc, #111 ); }
}

._color_2 {
  & { @include color( $baseBc, #eee ); }
  &._dark,._dark & { @include color( $dark_baseBc, #333 ); }
}

// ---------------------------------------------------------------
// links
// ---------------------------------------------------------------

._cicon { margin:0 -.3em }
._licon { margin:0 .25em 0 -.1em }

a,._a {
  & { text-decoration: underline }
  & {
    &:visited,&._visited { color: $linkBc_visited }
    &,&._link            { color: $linkBc }
    &:active,&._active   { color: $linkBc_active }
    &._hover_color       { color: inherit }
    &:hover,&._hover     { color: $linkBc_hover }
  }
  ._dark & {
    &:visited,&._visited { color: $dark_linkBc_visited }
    &,&._link            { color: $dark_linkBc }
    &:active,&._active   { color: $dark_linkBc_active }
    &._hover_color       { color: inherit }
    &:hover,&._hover     { color: $dark_linkBc_hover }
  }
}

._a3m,
._a2m,
._a1m,
._a3,
._a2,
._a1 {
  & {
    display: inline-block;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    padding: 0 .55em;
    box-sizing: border-box;
  }
  &:active { opacity: .3 }
  &.__disabled {
    cursor:default;
    background:none !important;
    color:inherit !important;
    opacity: .3;
  }
}

button {
  &._a3m,
  &._a2m,
  &._a1m,
  &._a3,
  &._a2,
  &._a1 {
    font-family: $sans;
    line-height: inherit;
    background: none;
    border-radius: .25em;
  }
}

a._a3m,._a3m,
a._a2m,._a2m,
a._a1m,._a1m,
a._a3,._a3,
a._a2,._a2,
a._a1,._a1 {
  & {
    & { color: inherit }
    &.__secondary,
    &._active { @include color( $baseAc, $baseAg ); }
    &.__primary { @include color( $dark_baseAc, $dark_baseAg ); }
    &:hover,&._hover { @include color( $baseHc, $baseHg ); }
  }
  ._dark & {
    & { color: inherit }
    &.__secondary,
    &._active { @include color( $dark_baseAc, $dark_baseAg ); }
    &.__primary { @include color( $baseAc, $baseAg ); }
    &:hover,&._hover { @include color( $dark_baseHc, $dark_baseHg ); }
  }
}

._a3,._a3m,
._a2,._a2m { border-radius: .25em; margin: .1em }

._a3,._a3m { border: 1px solid $border_color }

._a3,._a2  { min-width: 1.5em }

._a3m,._a2m,._a1m { padding: .25em .75em; min-width: 2em }
._a3m { padding: .2em .7em }

// ---------------------------------------------------------------
// helpers
// ---------------------------------------------------------------

// use box-sizing model
._borderbox { &, &::before, &::after { box-sizing: border-box }}

// set simple initial border
._border { border: 1px solid $border_color;  }

// set simple boxline
._boxline { box-shadow: 0 0 0 1px #ffa20088 inset }

// set simple outline
._outline { outline: 1px solid #ff00b788 }

// text size
._h7,._t1   { font-size: 1rem     }
._h6,._t2   { font-size: 1.083rem }
._h5,._t3   { font-size: 1.182rem }
._h4,._t4   { font-size: 1.300rem }
._h3,._t5   { font-size: 1.445rem }
._h2,._t6   { font-size: 1.625rem }
._h1,._t7   { font-size: 1.857rem }
._hx1,._t8  { font-size: 2rem     }
._hx2,._t9  { font-size: 2.25rem  }
._hx3,._t10 { font-size: 2.5rem   }
._small     { font-size: 86% }
._smaller   { font-size: 73% }
._smallest  { font-size: 60% }
._indiv     { font-size:0; > * { @extend ._reset_fontsize; } }

// text colors
._tc_blue   { color: $blue   }
._tc_purple { color: $purple }
._tc_orange { color: $orange }
._tc_red    { color: $red    }
._tc_green  { color: $green  }
._tc_contra { color: $contra }
._dark {
  ._tc_blue   { color: $dark_blue   }
  ._tc_purple { color: $dark_purple }
  ._tc_orange { color: $dark_orange }
  ._tc_red    { color: $dark_red    }
  ._tc_green  { color: $dark_green  }
  ._tc_contra { color: $dark_contra }
}
._no_color { color: inherit !important }

// fonts & texts
._system { font-family: $system }
._sans { font-family: $sans }
._serif { font-family: $serif }
._cursive { font-family: $cursive }
._fantasy { font-family: $fantasy }
._mono {
  // Fix the odd em font sizing and scaling.
  @extend ._reset_fontsize;
  font-family: $monospace;
}

// font-weight
._b { font-weight: bold !important }
@for $i from 1 through 9 { ._b#{$i} { font-weight: $i * 100 !important; } }
._no_b { font-weight: normal !important }

// underlines
._u {
  text-decoration: underline !important;
  text-underline-offset: .12em; // improve readability
}
._u_dotted { @extend ._u; text-decoration-style: dotted !important }
._u_dashed { @extend ._u; text-decoration-style: dashed !important }
._u_double { @extend ._u; text-decoration-style: double !important }
._u_wavy   { @extend ._u; text-decoration-style: wavy   !important }
._no_u, ._no_deco { text-decoration-line: none !important }
a[href]._hover_u,._hover_u {
  @extend ._no_u; &:hover { text-decoration-line: underline !important }
}

// italic
._i { font-style: italic !important }
._no_i { font-style: normal !important }

// strike
._s { text-decoration: line-through !important }

// borders
._no_border { border: 0 !important }

// backgrounds
._no_bg { background-color: transparent !important }

// for ul and ol
ul,ol {
  &._no_bullet,
  &._plain { list-style-type: none !important }
  &._plain { padding-left: 0 !important; padding-inline-start: 0 !important }
  &._no_pad { padding-left: 1em !important; padding-inline-start: 1em !important }
}

// transforms
._uppercase { text-transform: uppercase }
._lowercase { text-transform: lowercase }
._capitalize { text-transform: capitalize }

// cursors
._cursor_reset { cursor: initial }
._cursor_default { cursor: default }
._cursor_help { cursor: help }
._cursor_pointer { cursor: pointer }

// containers
._block { display:block }
._table { display:table }
._inline { display:inline }
._inblock { display:inline-block }
._cell { display:table-cell }

// flex
._flex { display:flex; flex-wrap:wrap; }
._flex_row { @extend ._flex; flex-direction:row }
._flex_column { @extend ._flex; flex-direction:column }

.__f { box-sizing: border-box }

._f,._fill  { @extend .__f; flex:100 1 0 } // fill
._f0,._fit  { @extend .__f; flex:1 1 0 } // fit
._f1,._full { @extend .__f; flex:1 0 100% } // full
@for $i from 2 through 6 { ._f#{$i} { @extend .__f; flex: calc(96 / $i) 0 calc(96% / $i); } }
@for $i from 3 through 6 {
  @for $j from 2 through $i - 1 {
    ._f#{$i}-#{$j} { @extend .__f; flex: calc(96 / $i * $j) 0 calc(96% / $i * $j); }
  }
}
// @for $i from 4 through 6 { ._f#{$i * 2} { @extend .__f; flex: 1 0 calc(96% / ($i * 2)); } }

// ._radius
$gaps: (
  "_25" : .25em,
  "_5"  : .5em,
  ""    : 1em,
  "1_5" : 1.5em,
  "2"   : 2em
);
@each $x, $value in $gaps { ._gap#{$x}  { gap: $value; } }

// ._radius
$radiuses: (
  "_25" : .25em,
  "_5"  : .5em,
  ""    : 1em
);
@each $x, $value in $radiuses { ._radius#{$x}  { border-radius: $value; } }
  
// ._rotate
$angles : 45, 90, 135, 180, 225, 270, 315;
@each $angle in $angles { ._rotate_#{$angle} { transform: rotate(#{$angle}deg); } }

// margins
$margins: (
  "_25" : .25em,
  "_5"  : .5em,
  ""    : 1em,
  "1_5" : 1.5em,
  "2"   : 2em
);
@each $x, $value in $margins {
  ._ma#{$x} { margin: $value }
  ._ml#{$x} { margin-left: $value }
  ._mr#{$x} { margin-right: $value }
  ._mh#{$x} { @extend ._ml#{$x}; @extend ._mr#{$x}; }
  ._mt#{$x} { margin-top: $value }
  ._mb#{$x} { margin-bottom: $value }
  ._mv#{$x} { @extend ._mt#{$x}; @extend ._mb#{$x}; }
}

// for margin
._m0  { margin:0 !important }
._ml0 { margin-left: 0 !important }
._mr0 { margin-right: 0 !important }
._mh0 { @extend ._ml0; @extend ._mr0; }
._mt0 { margin-top: 0 !important }
._mb0 { margin-bottom: 0 !important }
._mv0 { @extend ._mt0; @extend ._mb0; }

// paddings
$paddings: (
  "_25" : .25em,
  "_5"  : .5em,
  ""    : 1em,
  "1_5" : 1.5em,
  "2"   : 2em
);
@each $x, $value in $paddings {
  ._pa#{$x} { padding: $value }
  ._pl#{$x} { padding-left: $value }
  ._pr#{$x} { padding-right: $value }
  ._ph#{$x} { @extend ._pl#{$x}; @extend ._pr#{$x}; }
  ._pt#{$x} { padding-top: $value }
  ._pb#{$x} { padding-bottom: $value }
  ._pv#{$x} { @extend ._pt#{$x}; @extend ._pb#{$x}; }
}
._pad { @extend ._no_overflow; padding:.1px }

// positions
._relative { position:relative }
._fixed    { position:fixed; @include position(0,0) }
._sticky   { position:sticky; @include position(0,0) }
._absolute { position:absolute; @include position(0,0) }
._absolute_right { position:absolute;@include position(0,auto,0) }
._fullview { position:absolute; @include position(0,0,0,0) }

// alignments
._float_start { float:left;float:inline-start }
._float_end   { float:right;float:inline-end  }

._text_left    { text-align: left    }
._text_right   { text-align: right   }
._text_center  { text-align: center  }
._text_justify { text-align: justify }

._indent { text-indent: 2em }

._m_center { margin-left: auto; margin-right: auto; }

._v_top    { vertical-align: top }
._v_middle { vertical-align: middle }
._v_bottom { vertical-align: bottom }

// for blockquote and q
._no_quote {
  quotes: none;
  &:before, &:after { content: ''; content: none; }
}

// behaviors
._scroll,._scroll_x { overflow-x: scroll; scroll-behavior: smooth }
._scroll,._scroll_y { overflow-y: scroll; scroll-behavior: smooth }
._scrollable { overflow: auto; scroll-behavior: smooth }

// control overflow
._no_scroll,._no_scroll_x { overflow-x: hidden !important; }
._no_scroll,._no_scroll_y { overflow-y: hidden !important; }
._no_overflow { @extend ._no_scroll; }

// wrap control
._no_wrap { white-space: nowrap !important }

// hide from screen readers, but maintain visual layout
._invisible { visibility: hidden !important }

// hide visually and from screen readers
._hide, ._hidden, [hidden] { display: none !important }

// ---------------------------------------------------------------
// transitions
// ---------------------------------------------------------------

a,._a {
  & { transition: color 0.5s, background-color 0.5s }
  &:hover { transition: none }
}

// ---------------------------------------------------------------
// animation
// ---------------------------------------------------------------

@keyframes __fadeIn {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}
.__fadeIn { animation: .2s linear __fadeIn }
.__fadeOut { @extend .__fadeIn; animation-direction:reverse }

@keyframes __spin {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.__spin { animation: 2s linear infinite __spin }
.__spinr { @extend .__spin; animation-direction:reverse }


// ===============================================================
// Print Styles
// ===============================================================
// 
// Inlined to avoid the additional HTTP request:
// https://www.phpied.com/delay-loading-your-print-css/
// 
// ===============================================================

@media print {

._scroll,
._scroll_x,
._scroll_y,
._scrollable { overflow: visible !important }

#_views,
._view,
._print_reset {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
}

._print_block  { display: block !important }
._print_inline { display: inline !important }

*,
*::before,
*::after {
  background: #fff !important;
  color: #000 !important; /* black prints faster */
  box-shadow: none !important;
  text-shadow: none !important;
}
*::before{ content: none !important }

// ------------------------------------------------------ links */
a[href] {
  &,&:visited { text-decoration: underline }
  &::after { content: " (" attr(href) ")" }
}
abbr[title]::after { content: " (" attr(title) ")" }

// * Don't show links that are fragment identifiers,
// * or use the `javascript:` pseudo protocol
a[href^="#"]::after,
a[href^="javascript:"]::after { content: "" }

// --------------------------------------------------- segments */
pre,._pre {
  white-space: pre-wrap !important;
  overflow: visible !important;
}
pre,._pre,
blockquote,._blockquote {
  padding: 1em !important;
  border: 1px solid #888;
  page-break-inside: avoid;
}

// ------------------------------------------------------- misc */

tr, img { page-break-inside: avoid }

p, h1, h2, h3 { orphans: 3; widows: 3 }

h1, h2, h3 { page-break-after: avoid }

._no_print { display: none !important }
._no_print_href a,
._no_print_href { &[href]::after { content: none !important } }
._no_print_bg { background: none !important; }
._no_print_color { color: inherit !important; }
._no_print_border { border: none !important; }

} // @media print

// ======================================================== EOF */
