extends ../../../_basic/_html

block append vars
  -
    pageid      = 'lab/a1'
    pageUrl     = siteUrl + '/lab/a1/index.html'
    title       = `A1 Template | ${name}`
    description = '[undescribed]'
    author      = 'Techie Joe'