extends ../../../_basic/_html

block append vars
  -
    pageid      = 'template/basic'
    pageUrl     = siteUrl + '/template/basic/index.html'
    title       = `Basic`
    description = 'Basic Preview'
    author      = 'Techie Joe'

block article
  article._article
    section._container: +basic_helloWorld