extends ../../../_basic/_html

block append vars
  -
    pageid      = 'lab/basic'
    pageUrl     = siteUrl + '/lab/basic/index.html'
    title       = `[untitled]`
    description = '[undescribed]'
    author      = '[unknown]'

//- block article
  article._article._container: +basic_helloWorld