extends ../../../_basic/_html

block append vars
  -
    pageid      = 'template/basic'
    pageUrl     = siteUrl + '/template/basic/index_.html'
    title       = `Basic`
    description = 'Basic Info'
    author      = 'Techie Joe'

//- block article
  article._article._container: +basic_helloWorld