<!DOCTYPE html>
<html lang="en">
  
  <!-- Nova Builder v0.1.0 |  -->
  <!-- layout:main/_html -->
  
  <head>
    <meta charset="utf-8"/>
    <title>Basic | Nova Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222222"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/nova/site/icons/apple-touch-icon.png?v=0.1.0"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/nova/site/icons/favicon-32x32.png?v=0.1.0"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/nova/site/icons/favicon-16x16.png?v=0.1.0"/>
    <link rel="icon" type="image/x-icon" sizes="any" href="/nova/site/icons/favicon.ico?v=0.1.0"/>
    <!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    <meta name="description" content="Basic Preview"/>
    <meta name="author" content="Techie Joe"/>
    <meta name="publisher" content="[unknown]"/>
    <meta property="og:title" content="Basic"/>
    <meta property="og:description" content="Basic Preview"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://techiejoe.github.io/nova/site/template/basic/index.html?utm_source=homescreen"/>
    <meta property="og:image"/>
    <meta property="og:image:alt"/>
    <style id="_coreStyle">
      ._invisible { visibility:hidden !important }
      ._hide, ._hidden, [hidden] { display:none !important }
      ._scrollable { overflow:auto }
      html,body { font-family:system-ui,sans-serif }
      hr { border:0;border-top:1px solid #888 }
      .isvg svg { max-width:1em;max-height:1em }
    </style>
    <style id="_needjs" onload="this.remove()">
      ._needjs { display:none !important }
      
    </style>
    <style>._fouc { visibility: hidden !important }</style>
    <script>
      ((d=document,q=(d.documentElement||d.body).classList,c='_fouc')=>{
        q.add(c);d.addEventListener('DOMContentLoaded',e=>{
          setTimeout(e=>{q.remove(c);q.add('_tx')},300);
        });
      })();
      
    </script>
    <script>window.ghost = 'bG9jYWxob3N0LHRlY2hpZS1qb2UuZ2l0aHViLmlvLHRoZW1lanMucGFnZXMuZGV2';</script>
    <script type="text/javascript" src="/nova/site/js/theme_v2.0.js?v=0.1.0" defer="defer"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?&amp;family=Roboto:ital,wght@0,100..900;1,100..900&amp;family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" id="_fonts"/>
    <link rel="stylesheet" media="all" href="/nova/site/css/nova.css?v=0.1.0" id="_style"/>
    <link rel="stylesheet" media="all" href="/nova/site/css/basic.css?v=0.1.0" id="_basicStyle"/>
    <style>/* your style goes here */</style>
  </head>
  <body>
    <div id="_views">
      <div class="_view" id="_main_view">
        <noscript class="_pa _tc_red _b _mono">// Please enable javascript</noscript>
        <header id="_header"></header>
        <main id="_main">
          <article class="_article">
            <section class="_container">
              <h2 class="_h1">Basic</h2>
              <pre class="pre _blockquote _scrollable">&nbsp;
This is a placeholder content.
Edit this document to get started.
&nbsp;</pre>
              <button class="_needjs _a3m" onclick="event.preventDefault();(function(w){var h=w.history;w.opener?w.close():h.length>1?h.back():w.location.href='/';})(window)" title="Back to previous page"><i class="_icon _licon"><i class="isvg _rotate180">
                    <svg viewBox="0 0 24 24">
                      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                    </svg></i></i>Back
              </button>
            </section>
          </article>
          <aside class="_side_article"></aside>
        </main>
        <aside class="_side_bar"></aside>
        <footer class="_color" id="_footer">
          <div class="_relative">
            <div class="_absolute_right">
              <div class="_container">
                <div class="_small"><a class="_a2 _hover_color" href="/nova/site/">Home</a>
                </div>
              </div>
            </div>
          </div>
          <div class="_container"><small>&copy; 2025 Techie Joe</small></div>
        </footer>
      </div>
    </div>
    <aside id="_widgets"></aside>
    <script>// your script goes here</script>
  </body>
</html>