extends ../../_basic/_html

block append vars
  -
    pageid      = 'basic/alignment'
    pageUrl     = siteUrl + '/basic/alignment.html'
    title       = `Alignment | ${name}`
    description = 'Align content easily.'

block append style
  style.

    .a { height:5rem;position:relative }
    .o { display:inline-block;width:1.5em }

    .table { display:table; width:100% }

    .FLOAT_layout {
      position: relative;
      top: 10%;
      left: 10%;
      width: 80%;
      height: 80%;
    }

  //- style.

mixin o
  .o._outline&attributes(attributes) &bull;

mixin oo
  ._outline&attributes(attributes) &bull;

block header
  header._container
    +logo
    span#maindesc= description
  +main_nav

block article
  +basic_nav
  hr
  article(style="padding-bottom:1.8rem")

    section(style="max-width: 60em; margin: auto;")
    
      ._flex._gap_5._container

        ._f4: .a._outline: +o
        ._f4: .a._outline._text_left: +o
        ._f4: .a._outline._text_center: +o
        ._f4: .a._outline._text_right: +o

      ._flex._gap_5._container

        ._f4: .a._outline: +o._text_center
        ._f4: .a._outline: +o._text_center(style="position:absolute;top:0")
        ._f4: .a._outline: +o._text_center(style="position:absolute;top:50%;left:50%;transform: translateX(-50%) translateY(-50%);")
        ._f4: .a._outline: +o._text_center(style="position:absolute;bottom:0;right:0")

      ._flex._gap_5._container

        ._f4: .a.table: +oo._cell
        ._f4: .a.table: +oo._cell._text_left._valign_top
        ._f4: .a.table: +oo._cell._text_center._valign_middle
        ._f4: .a.table: +oo._cell._text_right._valign_bottom

      ._flex._gap_5._container

        ._f4: .a._outline: +o.FLOAT_layout
        ._f4: .a._outline: +o.FLOAT_layout._text_left(style="align-content:start")
        ._f4: .a._outline: +o.FLOAT_layout._text_center(style="align-content:center")
        ._f4: .a._outline: +o.FLOAT_layout._text_right(style="align-content:end")

    //- section
