extends _html

block append vars
  -
    pageid      = 'basic/blank'
    pageUrl     = siteUrl + '/basic/blank.html'
    title       = `[untitled] | ${name}`
    description = '[undescribed]'
    author      = 'Techie Joe'