extends ../../_basic/_html

block append vars
  -
    pageid      = 'basic/blank'
    pageUrl     = siteUrl + '/basic/blank.html'
    title       = `Blank Basic`
    description = 'This is a placeholder content.'
    author      = 'Techie Joe'

//- block header
  header#_header._container: h1._h1 !{title}

//- block article
  article._article
    section._container._mt0._scrollable: +basic_helloWorld
    hr
    section._container._scrollable: pre.pre: +pageData()