extends _html

block append vars
  -
    pageid      = 'basic/details'
    pageUrl     = siteUrl + '/basic/details.html'
    title       = `Details | ${name}`
    description = 'Styling details and summary elements.'

block article
  article._article

    section._container
      details._border._radius_5._m0
        summary._no_select._no_marker #[span._arrow] Summary #[small._i (no-marker, custom-marker)]
        div._content._scrollable
          ._container
            pre._scrollable.pre
              +pageData
      //- details
    hr
    section._container
      details._border._radius_5._m0
        summary._no_select Summary #[small._i (border, radius, no-margin)]
        div._content._scrollable
          ._container
            pre._scrollable.pre
              +pageData
      //- details
    hr
    section._container
      details
        summary._no_select Summary
        div._content._scrollable
          ._container
            pre._scrollable.pre
              +pageData
      //- details
    hr
