extends _html

block append vars
  -
    pageid      = 'basic/details'
    pageUrl     = siteUrl + '/basic/details.html'
    title       = `Details`
    description = 'Details and summary elements'

block append style
  style.
    ._article details ._scrollable._content { max-height:300px }
  //- style.

block article
  article._article

    style.
      #sum1 ._case { max-height:300px;z-index:1 }
      #sum2 ._content { top: 100%; right: 0; left: 100%; bottom: 2.2em; }
      #sum2 ._case { max-width:300px;max-height:300px;z-index:1 }
    section._container
      details._inblock#sum1
        summary._a31._no_select._no_marker #[span._marker] Summary #[small._i (marker, _a3)]
        ._content._relative: ._case._absolute._border._color_1._pa_5._scrollable: pre.pre._mv0: +pageData
      //- details
      details._inblock#sum2
        summary._a31._no_select._no_marker #[span._marker] Summary #[small._i (marker, _a3)]
        ._content._relative: ._case._absolute._border._color_1._pa_5._scrollable: pre.pre._mv0: +pageData
      //- details
      +_a._a31(href="#" onclick=onclick()) Button
    hr._m0

    section._container
      details._border._radius_5
        summary._no_select._no_marker #[span._marker] Summary #[small._i (custom-marker, border, radius)]
        ._content._scrollable: ._container: pre.pre: +pageData
      //- details
    hr._mb0
    
    section
      details
        summary._no_select._no_marker #[span._marker] Summary #[small._i (custom-marker)]
        ._content._scrollable: ._container: pre.pre: +pageData
      //- details
    hr._m0

    section
      details
        summary._no_select Summary #[small._i (default)]
        ._content._scrollable: ._container: pre.pre: +pageData
      //- details
    hr._mt0
