extends _error

block append vars
  -
    pageid      = 'basic/e401'
    pageUrl     = siteUrl + '/basic/e401.html'
    title       = `Unauthorized`
    description = `Authentication required.`

  - heading = 'Unauthorized'
  - about   = `Authentication required to access.`

  //- You don't have permission to access this page.

