extends _error

block append vars
  -
    pageid      = 'basic/e500'
    pageUrl     = siteUrl + '/basic/e500.html'
    title       = `Oops!`
    description = 'Error while processing your request.'

  - heading = 'Oops!'
  - about   = 'Sorry, an error occured while processing your request.'

  //- Sorry, we have encountered an error while processing your request.
  //- Sorry, an error occured while processing your request.

  //- - mainClass.push('_bluescreen')

//- block append style
  style.
    main { background-color: #3a4b91; color: #bbb; }
    ._h1, ._h2, ._h3, ._h4, ._h5, ._h6, ._h7, ._tc_contra, h1 { color: #fff; }