extends ../../_basic/_error

block append vars
  -
    pageid      = 'basic/error'
    pageUrl     = siteUrl + '/basic/error.html'
    title       = `Error`
    description = 'Error occured.'

  - heading = 'Error page'
  - about   = 'Ready made error templates.'