extends _html_i

block append vars
  -
    pageid      = 'basic/i-svg'
    pageUrl     = siteUrl + '/basic/i-svg.html'
    title       = `SVG Icons | ${name}`
    description = 'Implementing icons using SVG images.'
  -
    Object.assign(svgi,{
      compare:'M19,3H14V5H19V18L14,12V21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10,18H5L10,12M10,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H10V23H12V1H10V3Z',
      bars:'M5,6H19V8H5V6M5,11H19V13H5V11M5,16H19V18H5V16Z',
      home:'M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z',
      ellipsis:'M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z',
      caret:'M10,17L15,12L10,7V17Z',
      angle:'M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z',
      arrow:'M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z',
      cross:'M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z',
      spin:'M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z',
      download:'M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z',
      image:'M21,3H3C2,3 1,4 1,5V19A2,2 0 0,0 3,21H21C22,21 23,20 23,19V5C23,4 22,3 21,3M5,17L8.5,12.5L11,15.5L14.5,11L19,17H5Z',
    });

block article
  article._article._960: ._container

    style.
      .blok { font-size:4em;line-height:1;margin:2rem 0 }
    section.blok._boxline
      span._outline: +isvg(svgi.bars)
      span._outline| H
      span._outline: +isvg(svgi.compare)
      span._outline: +isvg(svgi.cross)
      span._outline| &plus;
      span._outline| ≡
      span._outline: i._icon|H
      span._outline: i._icon|☯
      span._outline: i._icon|&times;
      span._outline: i._icon|&plus;
    //- section

    hr

    style.
      .icons .isvg {
        margin-right:.5em;
        min-width:1.5em;
        min-height:1.5em;
        /* font-size: 1.5em; /* 1.5em = 36px | 1em = 24px */
      }
    section._p.icons
      - let svgds = []; for (let key in svgi) { svgds.push(svgi[key]); }
      each d in svgds
        +isvg(d)
    section._p.icons
      - i = 0;
      while 8 >= i++
        +isvg(svgi.angle)(class="_rotate_"+(-45+i*45))
      +isvg(svgi.cross).__spin
      +isvg(svgi.spin).__spin
    //- section

    section

      ._p.gridlines24| Icons should match the height of the surrounding text.

      ._p.gridlines24
        +isvg(svgi.bars)._outline
        span._outline| H
        +isvg(svgi.home)._outline
        +isvg(svgi.compare)._outline
        +isvg(svgi.cross)._outline

      ._p.gridlines24
        span._outline
          +isvg(svgi.bars)
          |H
          +isvg(svgi.home)
          +isvg(svgi.compare)
          +isvg(svgi.cross)
      //- ._p

    //- section

    mixin rag(x)
      - var n = 0
      while n < x
        if(n%2==0)
          .io2 #[+isvg(svgi.bars)] H_
        else
          .io1 &nbsp;
        - n++
    //- mixin

    section._flex

      ._f.g.demo.gridlines(style="flex: 1 0 340px;")
        .u._t1: +rag(13)
        .u._t2: +rag(12)
        .u._t3: +rag(11)
        .u._t4: +rag(10)
        .u._t5: +rag(9)
        .u._t6: +rag(8)
        .u._t7: +rag(7)

      ._f.g.demo.gridlines(style="flex: 1 0 340px;")
        .u._t8: +rag(5)
        .u._t9: +rag(5)
        .u._t10: +rag(5)

    //- flex

    aside._text_right
      //- https://pictogrammers.com/library/mdi/
      p._text_right._small: +a('https://pictogrammers.com/library/mdi/')(target="pictogrammers")._no_u More icons at Pictogrammers ...