extends _html

block append vars
  -
    pageid      = 'basic'
    pageUrl     = siteUrl + '/basic/index.html'
    title       = `Basic`
    description = 'The basics'

block header
  +simpleHeader

block article
  article._article._container

    h2._h5._p1(style="color:inherit") Let's explore the fundemental elements of our templates

    section._p1
      h3._h7| Templates
      +boxap: +menu_a2([
        ['template/core','template/core','Core'],
        ['template/basic','template/basic','Basic'],
        ['template/one','template/one','One'],
      ])
      +boxap: +menu_a2([
        ['basic/error','basic/error.html','Error'],
        ['basic/400','basic/e400.html','400'],
        ['basic/401','basic/e401.html','401'],
        ['basic/403','basic/e403.html','403'],
        ['basic/404','basic/e404.html','404'],
        ['404','-404-','&middot;&middot;','Simulate real 404'],
        ['basic/500','basic/e500.html','500'],
      ])

    section._p1
      h3._h7| Components
      +boxap: +basic_nav_
      +boxap: +icons_nav_
      +boxap: +menu_a2([
        ['basic/multiview','basic/multiview.html','Multi View'],
      ])
