extends _html

block append vars
  -
    pageid      = 'basic'
    pageUrl     = siteUrl + '/basic/index.html'
    title       = `Basic`
    description = 'The basics'

block header
  +simpleHeader

block article
  article._article._container

    section._p1
      h3._h7| Basic Templates
      ._flex._gap_5._p
        +boxx([
          ['basic/blank','basic/blank.html','Blank'],
        ])
        +boxx([
          ['basic/error','basic/error.html','Error','Error page'],
          ['basic/400','basic/e400.html','400','Bad request'],
          ['basic/401','basic/e401.html','401','Unauthorized'],
          ['basic/403','basic/e403.html','403','Forbidden'],
          ['basic/404','basic/e404.html','404','Not found'],
          ['basic/500','basic/e500.html','500','Server Error'],
        ])._fill

    section._p1
      h3._h7| Basic Components
      +boxap: +basic_nav_
      ._flex._gap_5._p
        +boxx([
          ['basic/flex','basic/flex.html','Flex'],
          ['basic/container','basic/container.html','Container'],
        ])._no_wrap
        +boxx([
          ['basic/multiview','basic/multiview.html','Multi View'],
        ])._fill
      +boxap: +icons_nav_
