extends _html

block append vars
  -
    pageid      = 'basic'
    pageUrl     = siteUrl + '/basic/index.html'
    title       = `Basic`
    description = 'The basics'

block header
  +simpleHeader

block article
  article._article._container

    section._p1
      h3._h7| Templates
      ._flex._gap_5._p
        +boxaf([
          ['template/basic','template/basic','Basic'],
          ['template/basic/index_','template/basic/index_.html','&middot;&middot;','Info'],
        ])._fit._no_wrap
        +boxaf([
          ['basic/error','basic/error.html','Error','Error page'],
          ['basic/400','basic/e400.html','400','Bad request'],
          ['basic/401','basic/e401.html','401','Unauthorized'],
          ['basic/403','basic/e403.html','403','Forbidden'],
          ['basic/404','basic/e404.html','404','Not found'],
          ['basic/500','basic/e500.html','500','Server Error'],
        ])

    section._p1
      h3._h7| Components
      +boxap: +basic_nav_
      +boxap([
        ['basic/multiview','basic/multiview.html','Multi View'],
      ])
      +boxap: +icons_nav_
