extends _html

block append vars
  -
    pageid      = 'basic'
    pageUrl     = siteUrl + '/basic/index.html'
    title       = `Basic | ${name}`
    description = 'Basic components.'

block header
  +simpleHeader

block article
  article._article._container

    +boxap: +basic_nav_
    +boxap: +menu_a2([
      ['core/html','core/html.html','Html'],
      ['basic/blank','basic/blank.html','Blank'],
      ' | ',
      ['basic/error','basic/error.html','Error'],
      ['basic/500','basic/e500.html','500'],
      ['basic/400','basic/e400.html','400'],
      ['basic/401','basic/e401.html','401'],
      ['basic/403','basic/e403.html','403'],
      ['basic/404','basic/e404.html','404'],
      ['404','-404-','&middot;&middot;','Simulate real 404'],
    ])
    +boxap: +icons_nav_
    +boxap: +menu_a2([
      ['basic/multiview','basic/multiview.html','Multi View'],
    ])
