extends _html

block append vars
  -
    pageid      = 'basic/multiview'
    pageUrl     = siteUrl + '/basic/multiview.html'
    title       = `Multi View | ${name}`
    description = 'Create multiple views.'
  
  -
    bodyClass.push('_fullview')
    mainClass.push( '_views', '_fullview', '_scrollable' )

block append style
  //- 
    body      { box-shadow: 0 0 0 3px #3355CC inset;padding:3px; }
    ._views   { box-shadow: 0 0 0 3px #6b33cc inset;padding:3px 0 3px 3px; }
    ._article { box-shadow: 0 0 0 3px #2a8e39 inset;padding:1px; }
  style.
    ._view    { box-shadow: 0 0 0 3px #cc7333 inset;padding:3px; }

    ._views { scroll-behavior:smooth; }
    ._view  { min-height:400px;min-height:100%; }

    #view-2 { position:absolute;top:0;left:100%;right:-100%;bottom:0;min-height:400px; }
    #view-4 { position:absolute;top:100%;left:100%;right:-100%;bottom:-100%;min-height:400px; }

  //- style.

block header

block article
  #view-0._absolute(aria-hidden="true")
  #view-1._view(style="min-height:300px")
    +simpleHeader
    article._article
      section._container: pre._scrollable.pre.
        // #{description}
      //- pre.
  //- article
  #view-2._view._color_1: article._article
    section._container: pre.pre| // View 2
  #view-3._view: article._article
    section._container: pre.pre| // View 3
  #view-4._view._color_2: article._article
    section._container: pre.pre| // View 4

block widget
  ._widgets

    style.

      #navbox {
        position:fixed;top:50%;left:50%;transform: translateX(-50%) translateY(-50%);
        border: 1px solid #888;
        z-index: 1000;
        padding: .5rem;
      }

      #navbox a {
        min-width: 2em;
        margin: 0.4rem;
        padding: 0.4em 0.8em;
      }

    //- style.

    nav#navbox._widget._no_print._color._radius_25
      table: tbody
        tr
          td: +a('#view-0')._a3|1
          td: +a('#view-2')._a3|2
        tr
          td: +a('#view-3')._a3|3
          td: +a('#view-4')._a3|4
    //- #navbox