extends _html

block append vars
  -
    pageid      = 'basic/table'
    pageUrl     = siteUrl + '/basic/table.html'
    title       = `Table`
    description = 'Table styles'

mixin table_example
  table&attributes(attributes)
    thead
      tr
        th Item
        th Description
        th Price
    tbody
      tr
        td Apple
        td A sweet red fruit
        td $1.00
      tr
        td Banana
        td A long yellow fruit
        td $0.50
      tr
        td Cherry
        td A small red fruit
        td $0.20
    tfoot
      tr
        td(colspan='2') Total
        td $1.70
  //- table
//- table_example

block article
  article._article

    section._container: ._flex(style="gap:1rem")._960
      ._f: +table_example._table._m_center
      ._f: +table_example._m_center
