extends ../../_basic/_html

mixin starter_nav
  //- pageid, uri, title
  //- ['basic/temp','basic/index.html','Home'],
  +menu_a2([
  ])

block header
  header
    +logo_bar
    +main_nav
    +starter_nav

mixin boxa
  ._color_1._radius_5&attributes(attributes): block

mixin boxap
  +boxa._p._pa1px: block

mixin boxam(menu)
  +boxa._f: +menu_a2(menu)