extends _html

block append vars
  -
    pageid      = 'starter'
    pageUrl     = siteUrl + '/starter/index.html'
    title       = `Starter`
    description = 'Starter themes'

block article
  article._article._container

    section._p1: pre._scrollable.pre.
      // Coming soon ..
    //- pre.

    //- section._p1
      h3._h7| Starter templates
      +boxap: +menu_a2([
      ])
      ._flex._gap_5._p
        +boxam([
        ])

    //- section._p1
      h3._h7| Starter components
