extends _html

block append vars
  -
    pageid      = 'starter'
    pageUrl     = siteUrl + '/starter/index.html'
    title       = `Starter | ${name}`
    description = 'Starter theme.'

block article
  article._article._container

    section: pre._scrollable.pre.
      // Coming soon ..
    //- pre.

    //- section
      h3._h7| Starter templates
      +boxap: +menu_a2([
      ])
      ._flex._gap_5._p
        +boxam([
        ])

    //- section
      h3._h7| Starter components
