extends _html

block append vars
  -
    pageid      = 'starter'
    pageUrl     = siteUrl + '/starter/index.html'
    title       = `Starter | ${name}`
    description = 'Starter templates.'

block article
  article(style="padding-bottom:1.8rem")
    section._container: pre._scrollable.pre.
      // Coming soon ..
    //- pre.
