extends ../../main/_html

block append vars
  - pageid = 'core/blank'
  - siteUrl += '/core/blank.html'

block header
  header._container
    pre._scrollable.pre.
      Hello, there.
      This is a placeholder to get you started.
      Copy the code from '!{pageid}' to create your own page.

      #[a(href='./')._link._a31 Back]
    hr

block article
  article._container
    pre._scrollable.pre: +pageData()