extends ../../main/_html

block append vars
  - pageid = 'core/details'
  - title = `Details | ${name}`
  - description = 'Styling details and summary elements.'

block append style
  style.
  //- style.

block header
  header._container
    +logo
    span#maindesc= description
  +main_nav

block article
  +core_nav
  hr
  article(style="padding-bottom:4em")
    section._container
      details
        summary._no_select Summary
        div._content._scrollable
          ._container
            pre._scrollable.pre
              +pageData
      //- details
    hr
