extends ../../main/_html

block append vars
  - pageid = 'core'
  - title = `Core | ${name}`
  - description = 'Core components.'

block header
  header._container
    +logo
    span#maindesc= description
  +main_nav

mixin menu(links)
  each v in links
    a(href=homeUri+v[1])._a2 !{v[2]}

block article
  +core_nav
  hr
  article
    nav._container
      +menu([
        ['core/html','core/html.html','Html'],
        ['core/blank','core/blank.html','Blank'],
        ['core/404','core/404','&middot;&middot;'],
        ['core/404','core/404.html','404'],
      ])
    hr
