extends ../../core/_error

block append vars
  -
    pageid      = 'core/error'
    pageUrl     = siteUrl + '/core/error.html'
    title       = `Error`
    description = 'Error occured.'

  - heading = 'Error page'
  - about   = 'Ready made error templates.'
