mixin _logo(s1,s2)
  |#[span.s1!=s1||'Nova']#[span.s2!=s2||'Builder']

mixin logo(s1,s2)
  if pageid==='index'
    #logo._no_select&attributes(attributes): +_logo(s1,s2)
  else
    a(href=homeUri)#logo._no_select&attributes(attributes): +_logo(s1,s2)
