extends ../../_basic/_html

mixin lab_nav
  //- pageid, uri, title
  +menu_a2([
    ['lab/temp','lab/temp.html','Temp'],
    ['lab/test','lab/test.html','Test'],
    ['lab/storage','lab/storage.html','Storage'],
    ['lab/text','lab/text.html','Text'],
    ['lab/flex960','lab/flex960.html','Flex-960'],
  ])

block header
  header._container
    +logo
    span#maindesc= description
  +main_nav
  +lab_nav
  hr
