extends ../../_basic/_html

block header
  +simpleHeader
  +lab_nav
  hr._mt0

mixin btns
  style.
    #btns button {
      margin: .1em;
      font-size: 0.8rem;
      vertical-align: top;
      line-height: 1rem;
      height: 1.5rem;
    }
  header._container#btns: block
