extends ../../_basic/_html

mixin lab_nav
  #_main_nav._color_2._flex
    ._fit: +a('./')._a11|#[+isvg(svgi.angle,'_licon')._rotate_180]Back
    ._f: +menu_a11([
    ])
    ._fit: +changeThemeLink._a11: +itext('_cicon')|☀
  hr._m0

block header
  +simplestHeader
  +lab_nav

mixin btns
  style.
    #btns button {
      margin: .1em;
      font-size: 0.8rem;
      min-height: 1.5rem;
      vertical-align: top;
      line-height: inherit;
    }
  ._container._indiv#btns: block

mixin boxa
  ._color_1._radius_5&attributes(attributes): block

mixin boxap(menu)
  +boxa._p._pad&attributes(attributes)
    if(menu)
      +menu_a2(menu)
    else
      block

mixin boxaf(menu)
  +boxa._f&attributes(attributes)
    if(menu)
      +menu_a2(menu)
    else
      block
