extends ../../_basic/_html

block append vars
  -
    pageid      = 'lab/basic'
    pageUrl     = siteUrl + '/lab/basic.html'
    title       = `[untitled]`
    description = '[undescribed]'
    author      = 'Techie Joe'