extends ../../_basic/_html

block append vars
  -
    pageid      = 'lab/basic'
    pageUrl     = siteUrl + '/lab/basic.html'
    title       = `Basic`
    description = 'Basic Preview'
    author      = 'Techie Joe'