extends _html

block append vars
  -
    pageid      = 'lab/button'
    pageUrl     = siteUrl + '/lab/button.html'
    title       = `Lab buttons | ${name}`
    description = 'Testing new button styles.'

block article
  article._article

    section._container: pre.pre.
      // #{description}
    //- pre.
    hr
    //- ----------------------------------------------------------
    //- style.
    section#links._container
      +_a._a31.__primary Primary
      +_a._a31.__secondary Secondary
      +_a._a31 Ordinary
      +_a._a31.__disabled.__primary Primary
      +_a._a31.__disabled.__secondary Secondary
      +_a._a31.__disabled Ordinary
    style.
      #buttons_a31 button {
        line-height: inherit;
        background: none;
      }
    section#buttons_a31._container
      button._a31.__primary Primary
      button._a31.__secondary Secondary
      button._a31 Ordinary
      button(disabled)._a31.__disabled.__primary Primary
      button(disabled)._a31.__disabled.__secondary Secondary
      button(disabled)._a31.__disabled Ordinary
    //- ----------------------------------------------------------
    //- style.
    section#links._container
      +_a._a3.__primary Primary
      +_a._a3.__secondary Secondary
      +_a._a3 Ordinary
      +_a._a3.__disabled.__primary Primary
      +_a._a3.__disabled.__secondary Secondary
      +_a._a3.__disabled Ordinary
    style.
      #buttons_a3 button {
        line-height: inherit;
        background: none;
      }
    section#buttons_a3._container
      button._a3.__primary Primary
      button._a3.__secondary Secondary
      button._a3 Ordinary
      button(disabled)._a3.__disabled.__primary Primary
      button(disabled)._a3.__disabled.__secondary Secondary
      button(disabled)._a3.__disabled Ordinary
    //- ----------------------------------------------------------
    style.
      button { font-family:"Arial",sans-serif; }
    section._container
      ._p
        button.__primary Primary
        button.__secondary Secondary
        button Ordinary
        button(disabled).__primary Primary
        button(disabled).__secondary Secondary
        button(disabled) Ordinary
    //- section