extends ../../_core/_html

block append vars
  -
    pageid      = 'lab/core'
    pageUrl     = siteUrl + '/lab/core.html'
    title       = 'Core'
    description = 'Core Preview'
    author      = 'Techie Joe'