extends ../../_core/_html

block append vars
  -
    pageid      = 'lab/core'
    pageUrl     = siteUrl + '/lab/core.html'
    title       = '[untitled]'
    description = '[undescribed]'
    author      = 'Techie Joe'