extends _html

block append vars
  -
    pageid      = 'lab/flex960'
    pageUrl     = siteUrl + '/lab/flex960.html'
    title       = `Flex-960`
    description = 'Flex-960 components.'

block append stylesheet
  +cssv(homeUri+"css/flex960.css")

//- block header
  +btns
    +menu_a(['lab','lab','Lab','Return to Lab'],['_a2'])
  hr

block article
  article._article

    section._container
      pre.pre.
        // Testing Flex-960 ..
      //- pre.
      hr
    //- 
    style.
      ._outline {
        background-color:rgba(255, 0, 183, .15)
      }
      ._outline2 {
        outline: 1px solid rgba(0, 158, 36, .83);
        background-color:rgba(0, 158, 36, .15)
      }
      .i {
        padding:.25em .5em;
        text-align: center;
        font-size:.8em;
        user-select:none;
      }
      .f {
        padding:.25em 0;
        text-align: center;
        font-size:.8em;
        user-select:none;
      }
      .i:hover, .f:hover {
        background-color:#8884;
      }
    //- style.
    mixin flex(n)
      - for (let i = 0; i < n ; i++)
        .f._outline(class="_f"+n) Flex #{n}
    mixin fix
      .f._f._outline2&attributes(attributes): block
    mixin fit
      .f._fit._outline&attributes(attributes): block
    section._p: div(style="max-width:960px;margin:auto")
      ._flex
        - for (let f = 1; f <= 12 ; f++)
          ._f1._flex: +repeat(f): +fit| Fit
      hr
      ._flex
        - for (let f = 1; f <= 6 ; f++)
          - for (let i = 0; i < f ; i++)
            .f._outline(class="_f_"+f) #{960/f}
        - for (let f = 4; f <= 6 ; f++)
          - for (let i = 0; i < f*2 ; i++)
            .f._outline(class="_f_"+f*2) #{960/4/f*2}
    //- section