extends _html

block append vars
  -
    pageid      = 'lab/font-awesome'
    pageUrl     = siteUrl + '/lab/font-awesome.html'
    title       = `Font Awesome Icons | ${name}`
    description = 'Implementing awesomeness.'
  -
    cssi.gridlines = 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1px" height="10px"><rect width="1" height="1" fill="%23A9790688" /></svg>';

block header
  +simpleHeader

block append stylesheet
  +css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css')

block append style
  style.

    .gridlines {
      min-height: 100px;
      background-image: url('!{cssi.gridlines}');
      background-repeat: repeat;
    }

    .g{display:flex;flex-flow:row wrap;align-content:flex-start}
    .u{display:inline-block;vertical-align:top}
    .demo .u { margin: 0 2px; padding-bottom: 20px; }

    .io1  { background: #66668844; box-shadow:0 1px orange; }
    .io2  { background: #66886644; box-shadow:0 1px orange; }

    .selectable { user-select:auto }

  //- style.

mixin fas
  i._fa: i.fas&attributes(attributes)

mixin far
  i._fa: i.far&attributes(attributes)

mixin fab
  i._fa: i.fab&attributes(attributes)

mixin fat
  i._fa: i.fas&attributes(attributes): block

block article
  article._article

    section._container: pre._scrollable_x.pre.
      // Font Awesome Icons
    //- pre.

    hr

    section._container

      //- 1.5em : based on the size of + sign
      ._p(style="font-size: 1.5em; letter-spacing: 0.2em;"): i._fa.selectable: i.fas._text_left(style="font-weight:normal")
        .
          ▲ ► ▼ ◄ ☚ ☛ #[br]
          @ # % ?
          № $ #[br]
          · • ◦ ○ ● ∴
          ¤ ☼ ☀ ❊ ⁂ ※
          ◊ ♦ ♥ ♀ ♂ ☄ #[br]
          ☁ ✈ ☎ ✂ ✎ ✉ ☑ ☒
          ◍ ✆ ⊝ ⊕ ⊗ ⊘ ☯ ☢ © &copy;
          A TXT
        //- .

      ._p(style="font-size: 1.5em; letter-spacing: 0.2em;"): i._fa.selectable: i.fas._text_left
        .
          ▲ ► ▼ ◄ ← → ↑ ↓ « » #[br]
          ≡ = – + ÷ × *
          ⁞ ‖ ! ∿ ∞ #[br]
          @ # % ?
          № £ ¥ € ₩ $ #[br]
          · • ◦ ○ ● ∴
          ¤ ☼ ☀ ❊ ⁂ ※
          ◊ ♦ ♥ ♀ ♂ ☄ #[br]
          ☁ ✈ ☎ ✂ ✎ ✉ ☑ ☒
          ◍ ✆ ⊝ ⊕ ⊗ ⊘ ☯ ☢ © &copy;
          A TXT
        //- .

      style.
        ._boxed_icons ._fa,
        ._icons ._fa {
          font-size: 1.5em; /* 1.5em = 36px | 1em = 24px */
          margin: .5rem;
        }
        ._boxed_icons ._fa {
          box-shadow: 0 0 0 1px #f808;
        }
      //- style.

      ._p._icons
        +fas.fa-bars
        +fas.fa-list
        +fas.fa-house
        +fas.fa-adjust
        +far.fa-circle-user
        +fas.fa-angle-left
        +fas.fa-angles-left
        +fas.fa-arrow-left
        +fas.fa-caret-left
        +fas.fa-rotate-left
        +fas.fa-share.fa-flip-horizontal
        +fas.fa-hand-point-left
        +fas.fa-magnifying-glass
        +far.fa-comment
        +far.fa-message
        +fas.fa-inbox
        +fas.fa-question
        +fas.fa-circle-info
        +fas.fa-location-dot
        +fas.fa-phone
        +far.fa-envelope
        +far.fa-credit-card
        +far.fa-image
        +far.fa-address-card
        +fas.fa-border-all
        +far.fa-square
        +far.fa-square-minus
        +far.fa-square-check._tc_contra
        +far.fa-star
        +fas.fa-star._tc_orange
        +far.fa-heart
        +fas.fa-heart._tc_red
        +far.fa-thumbs-up
        +fas.fa-thumbs-up._tc_blue
        +fas.fa-pen
        +fas.fa-arrow-right-to-bracket.fa-rotate-90
        +fas.fa-download
        +fas.fa-print
        +far.fa-floppy-disk
        +fas.fa-code
        +fas.fa-plus
        +fas.fa-minus
        +fas.fa-minus.fa-rotate-90
        +fas.fa-check._tc_green
        +fas.fa-xmark._tc_red
        +fas.fa-asterisk
        +fas.fa-gear
        +fas.fa-ellipsis
        +fas.fa-ellipsis-vertical
        +fat|a
        +fat|txt
      //- ._p

      ._p._boxed_icons
        +fas.fa-bars
        +fas.fa-house
        +fas.fa-adjust
      //- ._p

      ._p: ._outline._inblock
        +fas.fa-bars
        |H
      //- ._p

      //- https://fontawesome.com/v6/search?q=
      p._text_right._small: +a('https://fontawesome.com/v6/search?q=')(target="fontawesome")._no_u More icons at Font-Awesome ...

    //- section

    hr

    section

      mixin rag(x)
        - var n = 0
        while n < x
          if(n%2==0)
            .io2
              +fas.fa-bars
              |H
          else
            .io1 &nbsp;
          - n++
      //- mixin

      .g.demo.gridlines

        .u._t1: +rag(13)
        .u._t2: +rag(12)
        .u._t3: +rag(11)
        .u._t4: +rag(10)
        .u._t5: +rag(9)
        .u._t6: +rag(8)
        .u._t7: +rag(7)
        .u._t8: +rag(6)
        .u._t9: +rag(5)
        .u._t10: +rag(4)

      //- g

    //- section