extends _html

block append vars
  -
    pageid      = 'lab'
    pageUrl     = siteUrl + '/lab/index.html'
    title       = `Lab | ${name}`
    description = 'Laboratory for upcoming features and upgrades.'

block header
  +simpleHeader

block article
  article._article._container

    +boxap: +lab_nav_
    ._flex._gap_5._p
      +boxam([
        ['lab/view','lab/view.html','View'],
        ['lab/multiview','lab/multiview.html','Multi View'],
        ['lab/fullscreen','lab/fullscreen.html','Full Screen'],
      ])
      +boxam([
      ])
    ._flex._gap_5._p
      +boxam([
        ['lab/flex','lab/flex.html','Flex'],
        ['lab/flex960','lab/flex960.html','Flex-960'],
      ])
      +boxam([
        ['lab/button','lab/button.html','Button'],
        ['basic/button','basic/button.html','Button (Basic)'],
      ])
    ._flex._gap_5._p
      +boxam([
        ['basic/i-emoji','basic/i-emoji.html','Emoji Icons'],
        ['basic/i-flat','basic/i-flat.html','Flat Icons'],
      ])
      +boxam([
        ['themejs','themejs','ThemeJS'],
      ])
