extends _html

block append vars
  -
    pageid      = 'lab'
    pageUrl     = siteUrl + '/lab/index.html'
    title       = `Lab | ${name}`
    description = 'Laboratory for upcoming features and upgrades.'

block header
  +simpleHeader

block article
  article._article._container

    ._p._color_1._radius_5._pa_125: +lab_nav
    //- ['lab/fullscreen','lab/fullscreen.html','Full Screen'],
    ._p._color_1._radius_5._pa_125: +menu_a2([
      ['lab/view','lab/view.html','View'],
      ['lab/multiview','lab/multiview.html','Multi View'],
    ])
    ._flex._gap
      ._f._color_1._radius_5._pa_125: +menu_a2([
        ['lab/flex','lab/flex.html','Flex'],
        ['lab/flex960','lab/flex960.html','Flex-960'],
      ])
      ._f._color_1._radius_5._pa_125: +menu_a2([
        ['basic/button','basic/button.html','Button'],
        ['basic/i-emoji','basic/i-emoji.html','Emoji Icons'],
      ])
      ._f._color_1._radius_5._pa_125: +menu_a2([
        ['themejs','themejs','ThemeJS'],
      ])
