extends _html

block append vars
  -
    pageid      = 'lab'
    pageUrl     = siteUrl + '/lab/index.html'
    title       = `Lab`
    description = 'New feature developments'

block header
  +simpleHeader

block article
  article._article._container

    section._p1
      h3._h7| Lab experiments
      ._flex._gap_5._p
        +boxx([
          ['404','-404','404','Simulate real 404'],
        ])
        +boxaf([
          ['lab/test','lab/test.html','Test'],
          ['lab/storage','lab/storage.html','Storage'],
          ['themejs','themejs','ThemeJS'],
        ])
      ._flex._gap_5._p
        +boxaf([
          ['lab/text','lab/text.html','Text'],
          ['lab/button','lab/button.html','Button'],
          ['lab/overflow','lab/overflow.html','Overflow'],
          ['lab/color','lab/color.html','Color'],
          ['lab/image','lab/image.html','Image'],
          ['lab/background','lab/background.html','Background'],
          ['lab/menu','lab/menu.html','Menu'],
        ])
      ._flex._gap_5._p
        +boxaf([
          ['lab/view','lab/view.html','View'],
          ['lab/multiview','lab/multiview.html','Multi View'],
        ])
        +boxaf([
          ['lab/flex','lab/flex.html','Flex'],
          ['lab/flex960','lab/flex960.html','Flex-960'],
        ])
      ._flex._gap_5._p
        +boxaf([
          ['template/one','template/one','One'],
          ['template/one/blank','template/one/blank.html','&middot;&middot;','Blank'],
        ])

    section._p1
      h3._h7| Upcoming features
      ._scrollable._container: pre.pre.

        ['logo','logo','Logo'],
        ['headers','headers','Headers'],
        ['basic/i-flat','basic/i-flat.html','Flat Icons'],
        ['basic/i-emoji','basic/i-emoji.html','Emoji Icons'],
        ['json','json','JSON'],
        ['vanamir','vanamir','Vanamir'],

        - improve fullscroll multiview (scroll on document)
        - continue developing flex960
        - add green link
      //- pre
