extends _html

block append vars
  -
    pageid      = 'lab'
    pageUrl     = siteUrl + '/lab/index.html'
    title       = `Lab | ${name}`
    description = 'Laboratory for upcoming features and upgrades.'

block header
  +simpleHeader

block article
  article._article._container

    +boxap: +lab_nav_
    +boxap: +menu_a2([
      ['lab/storage','lab/storage.html','Storage'],
      ['lab/overflow','lab/overflow.html','Overflow'],
      ['json','json','JSON'],
      ['color','color','Color'],
      ['theme','theme','Theme'],
      ['menu','menu.html','Menu'],
    ])
    ._flex._gap_5._p
      +boxam([
        ['lab/view','lab/view.html','View'],
        ['lab/multiview','lab/multiview.html','Multi View'],
        ['lab/fullscreen','lab/fullscreen.html','Full Screen'],
      ])
      +boxam([
        ['lab/flex','lab/flex.html','Flex'],
        ['lab/flex960','lab/flex960.html','Flex-960'],
      ])
    ._flex._gap_5._p
      +boxam([
        ['lab/button','lab/button.html','Button'],
        ['basic/button','basic/button.html','Button (Basic)'],
      ])
      +boxam([
        ['basic/i-emoji','basic/i-emoji.html','Emoji Icons'],
        ['basic/i-flat','basic/i-flat.html','Flat Icons'],
      ])
    +boxap: +menu_a2([
      ['themejs','themejs','ThemeJS'],
      ['vanamir','vanamir','Vanamir'],
    ])
