extends _html

block append vars
  -
    pageid      = 'lab'
    pageUrl     = siteUrl + '/lab/index.html'
    title       = `Lab`
    description = 'New feature developments'

block article
  article._article._container

    section._p1
      h3._h7| Lab experiments
      ._flex._gap_5._p
        +boxam([
          ['lab/test','lab/test.html','Test'],
          ['lab/text','lab/text.html','Text'],
          ['lab/storage','lab/storage.html','Storage'],
          ['lab/button','lab/button.html','Button'],
          ['lab/overflow','lab/overflow.html','Overflow'],
        ])
      ._flex._gap_5._p
        +boxam([
          ['lab/view','lab/view.html','View'],
          ['lab/multiview','lab/multiview.html','Multi View'],
        ])
        +boxam([
          ['lab/flex','lab/flex.html','Flex'],
          ['lab/flex960','lab/flex960.html','Flex-960'],
        ])
      +boxap: +menu_a2([
        ['lab/core','lab/core.html','Core'],
        ['lab/basic','lab/basic.html','Basic'],
        ['template/one','template/one','One'],
      ])

    section._p1
      h3._h7| Upcoming features
      ._container: pre._scrollable.pre.
        - make new lab header
        - restructure themes

        ['logo','logo','Logo'],
        ['menu','menu','Menu'],
        ['color','color','Color'],
        ['basic/image','basic/image.html','Image'],
        ['lab/fullscreen','lab/fullscreen.html','Full Screen / Full Scroll'], // see view
        ['basic/i-flat','basic/i-flat.html','Flat Icons'],
        ['basic/i-emoji','basic/i-emoji.html','Emoji Icons'],
        ['themejs','themejs','ThemeJS'],
        ['json','json','JSON'],
        ['vanamir','vanamir','Vanamir'],

        - add storage-changed listener to ThemeJS
        - apply fullview and fullscroll into production
        - continue developing flex960
      //- pre
