extends _html

block append vars
  -
    pageid      = 'lab'
    pageUrl     = siteUrl + '/lab/index.html'
    title       = `Lab`
    description = 'Testing upcoming features.'

block article
  article._article._container

    section
      h3._h7| Lab tests
      ._flex._gap_5._p
        +boxam([
          ['lab/test','lab/test.html','Test'],
          ['lab/text','lab/text.html','Text'],
          ['lab/storage','lab/storage.html','Storage'],
        ])
      ._flex._gap_5._p
        +boxam([
          ['lab/view','lab/view.html','View'],
          ['lab/multiview','lab/multiview.html','Multi View'],
        ])
        +boxam([
          ['lab/flex','lab/flex.html','Flex'],
          ['lab/flex960','lab/flex960.html','Flex-960'],
        ])
      ._flex._gap_5._p: +boxa._f: +buttons_menu
      ._flex._gap_5._p
        +boxam([
          ['theme','theme','Themes'],
        ])

    section
      h3._h7| Upcoming list
      ._container: pre._scrollable.pre.
        ['menu','menu','Menu'],
        ['color','color','Color'],
        ['basic/image','basic/image.html','Image'],
        ['lab/fullscreen','lab/fullscreen.html','Full Screen / Full Scroll'], // see view
        ['lab/overflow','lab/overflow.html','Overflow'],
        ['basic/i-flat','basic/i-flat.html','Flat Icons'],
        ['basic/i-emoji','basic/i-emoji.html','Emoji Icons'],
        ['themejs','themejs','ThemeJS'],
        ['json','json','JSON'],
        ['vanamir','vanamir','Vanamir'],

        - add storage-changed listener to ThemeJS
        - apply fullview and fullscroll into production
        - continue developing flex960
      //- pre

    section
      h3._h7| Test sites
      +boxap: +menu_a2([
          ['sites/core','sites/core','Core'],
          ['sites/basic','sites/basic','Basic'],
        ])

