extends _html

block append vars
  -
    pageid      = 'lab'
    pageUrl     = siteUrl + '/lab/index.html'
    title       = `Lab | ${name}`
    description = 'Laboratory for upcoming features and upgrades.'

block article
  article._article

    section._container: pre._scrollable_x.pre.
      // Tests were conducted here ..
    //- pre.

    hr

    mixin menu(links)
      each v in links
        a(href=homeUri+v[1] title=v[3])._a2 !{v[2]}
    
    nav._container
      +menu([
      ])
    //- nav

    hr
