extends _html

block append vars
  -
    pageid      = 'lab/multiview'
    pageUrl     = siteUrl + '/lab/multiview.html'
    title       = `Multi View`
    description = 'Testing multi view'

block append style
  //- style.
    body      { box-shadow: 0 0 0 3px #3355CC inset;padding:3px;box-sizing:border-box; }
    #_views   { box-shadow: 0 0 0 3px #6b33cc inset;padding:3px;box-sizing:border-box; }
  style.
    ._view    { box-shadow: 0 0 0 3px #cc7333 inset;padding:3px;box-sizing:border-box; }
    ._article { box-shadow: 0 0 0 3px #2a8e39 inset;padding:3px;box-sizing:border-box; }

    #topRightNav { right:0;margin-right:15px; }
    #_views { overflow:auto scroll; position: absolute; top: 0; right: 0; bottom: 42px; left: 0; height:auto; min-height:0;margin:0;padding:0 }
    ._view { padding:3px }

    #view-2 { position:absolute;top:0;left:100%;right:-100%;bottom:0; }
    #view-3 { min-height:100%; }
    #view-4 { position:absolute;top:100%;left:100%;right:-100%;bottom:-100%; }

  //- style.

block header
  header#_header
    +simplestHeader
    #_main_nav._color_2._flex
      ._fit: +a('./')._a11|#[+isvg(svgi.angle,'_licon')._rotate_180]Back
      ._f: +menu_a11([
      ])
      ._fit: +changeThemeLink._a11: +itext('_cicon')|☀
    hr._m0

block article
  article._article(style="min-height:300px")
    section._container: pre._scrollable.pre.
      // #{description}
    //- pre.
  //- article

block prepend view
  #view-1._absolute(aria-hidden="true")
block append view
  #view-2._view: article._article: section._container: pre.pre| // View 2
  #view-3._view: article._article: section._container: pre.pre| // View 3
  #view-4._view: article._article: section._container: pre.pre| // View 4

block widget
  ._widgets

    style.

      #navbox {
        position:fixed;top:50%;left:50%;transform: translateX(-50%) translateY(-50%);
        border: 1px solid #888;
        z-index: 1000;
        padding: .5rem;
      }

      #navbox a {
        min-width: 3.5em;
        margin: 0.25rem;
        padding: 0.4em 0.8em;
      }

    //- style.

    nav#navbox._widget._no_print._color._radius_25
      table: tbody
        tr
          td: +a('#view-1')._a3|1
          td: +a('#view-2')._a3|2
        tr
          td: +a('#view-3')._a3|3
          td: +a('#view-4')._a3|4
    //- #navbox