extends _html

block append vars
  -
    pageid      = 'lab/storage'
    pageUrl     = siteUrl + '/lab/storage.html'
    title       = `Storage`
    description = 'Testing storage'

block append style
  style.
    ._pink, ._pink body,
    ._pink ._color {
      background-color: ghostwhite;
      color: #a14e77;
      border-color: hotpink;
    }
    ._pink ._color_1 {
      background-color: hotpink;
      color: white;
      border-color: #c78a8a;
    }
    ._pink ._color_2 {     
      background-color: #ff9fcf;
      color: #691e4a;
      border-color: #691e4a;
    }
    ._pink ._blockquote {
      background-color: #ff9fcf44;
      border-color: #d7408b;
    }
    ._pink button,
    ._pink a[href],
    ._pink hr { border-color: #ffa1cf }
    ._pink ._tc_contra,
    ._pink h6,
    ._pink h5,
    ._pink h4,
    ._pink h3,
    ._pink h2,
    ._pink h1 { color: #d7408b; }
    ._pink ._link { color: #c71d72; }
    ._pink ._link:hover { color: #ff899e; }

    ._cream, ._cream body,
    ._cream ._color {
      background-color: linen;
      color: #604429;
      border-color: #7a7243;
    }
    ._cream ._color_1 {
      background-color: #b2977d;
      color: white;
      border-color: #907a5b;
    }
    ._cream ._color_2 {     
      background-color: #fde7d1;
      border-color: #604429;
    }
    ._cream ._blockquote,
    ._cream button,
    ._cream a[href],
    ._cream hr { border-color: #a4937a; }
    ._cream ._tc_contra,
    ._cream h6,
    ._cream h5,
    ._cream h4,
    ._cream h3,
    ._cream h2,
    ._cream h1 { color: #422c17ff; }
    ._cream ._link { color: #5a8510; }
    ._cream ._link:hover { color: #5a8510; }  

block article
  article._article
    style.
      #btns button {
        margin: .1em;
        font-size: 0.8rem;
        min-height: 1.5rem;
        vertical-align: top;
        line-height: inherit;
      }
      #btns .monobtn button { font-family:monospace,monospace; }
    section._container#btns._flex
      ._fit._no_wrap._indiv
        button(onclick='test.storeSet();' title="Set Store Item")._a3|Set
        button(onclick='test.storeGet();' title="Get Store Item")._a3|Get
        button(onclick='test.storeRemove();' title="Remove Store Item")._a3|Remove
        button(onclick='test.storeClear();' title="Clear Store")._a3|Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button._a3(onclick="test.run()" title="Run Test") Test
        button._a3(onclick="test.reset()" title="Reset Test") Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='theme.change();' title="Change Theme")._a3|Theme
      ._f
    hr._mb0
    style.
      #test .pre { font-size:.8rem }
      #test .sec { max-height:500px }
    #test._flex
      ._fit(style="flex-basis:300px")
        section._scrollable.sec#sec_storage
          pre.pre#storage._container
      ._f
        section._scrollable.sec#sec
          pre.pre#pre._container| // #{description} ..
    hr._mt0

block prepend script
  //- +jsv(src)
  //- ------------------------------------------------------------
  //- +jsv('/nova/src/files/index/'+'jss/test_storage.js')
  +jsv(homeUri+'jss/test_storage.js')
  //- ------------------------------------------------------------
  //- script.
  //- script.