extends _html

block append vars
  -
    pageid      = 'lab/storage'
    pageUrl     = siteUrl + '/lab/storage.html'
    title       = `Storage`
    description = 'Testing storage'

block article
  article._article
    style.
      #btns button {
        margin: .1em;
        font-size: 0.8rem;
        min-height: 1.5rem;
        vertical-align: top;
        line-height: inherit;
      }
      #btns .monobtn button { font-family:monospace,monospace; }
    section._container#btns._flex
      ._fit._no_wrap._indiv
        button(onclick='test.storeSet();' title="Set Store Item")._a3|Set
        button(onclick='test.storeGet();' title="Get Store Item")._a3|Get
        button(onclick='test.storeRemove();' title="Remove Store Item")._a3|Remove
        button(onclick='test.storeClear();' title="Clear Store")._a3|Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button._a3(onclick="test.run()" title="Run Test") Test
        button._a3(onclick="test.reset()" title="Reset Test") Clear
      ._fit._text_center='|'
      ._fit._no_wrap._indiv
        button(onclick='theme.change();' title="Change Theme")._a3|Theme
      ._f
    hr._mb0
    style.
      #test .pre { font-size:.8rem }
      #test .sec { max-height:500px }
    #test._flex
      ._fit(style="flex-basis:300px")
        section._scrollable.sec#sec_storage
          pre.pre#storage._container
      ._f
        section._scrollable.sec#sec
          pre.pre#pre._container| // #{description} ..
    hr._mt0

block prepend script
  //- +jsv(src)
  //- ------------------------------------------------------------
  +jsv('/nova/src/test_js/test_storage.js')
  //- ------------------------------------------------------------
  //- script.
  //- script.