extends ../../_main/_html

block append vars
  -
    pageid      = 'lab/temp'
    pageUrl     = siteUrl + '/lab/temp.html'
    title       = `Temp | ${name}`
    description = 'Temporary stuff.'

block append style
  style.
  //- style.

block header
  header._container
    +logo
    span#maindesc= description
  +main_nav

block article
  +lab_nav
  hr
  article(style="padding-bottom:1.8rem")
    section._container: pre._scrollable.pre.
      // New features to be implemented soon ..
    //- pre.

//- block prepend script
