extends _html

block append style
  style.
      #topRightNav { position:fixed; top:0;right:15px; padding:.625rem }
      #topRightNav ._a3 {
        font-family:"Arial",sans-serif;
        font-size:1.2rem;
        text-decoration:none;
        text-align:center;
        vertical-align: middle;
        display:inline-block;
        box-sizing:border-box;
        line-height:1em;
        width:1.5rem;
        height:1.5rem;
        margin:0 0 0 .25rem;
        padding:0;
        border:1px solid #888;
        font-weight:normal;
        border-radius:.3rem;
        color:inherit !important;
      }
      #topRightNav ._a3 i { font-style:normal }
      #topRightNav .sun { font-size: 1.3rem; line-height: 1.4rem; }

  //- style.

block append side_bar

  aside#topRightNav
    +a._needjs._a3._color(onclick=onclick('window.test.disableStyle();') title="Toggle Style"): i._icon|s
    +changeThemeLink._a3._color: i._icon.sun|☀

block append script
  script.
    (()=>{
      const
      w = window,
      d = document,
      e = d.getElementById("_style"),
      m = e.getAttribute("media"),
      disableStyle = ()=>{ e.setAttribute("media",e.getAttribute("media")==='x'?m:'x') };
      w.test = { disableStyle };
    })();
  //- script.