extends test_

block append vars
  -
    pageid      = 'lab/test'
    pageUrl     = siteUrl + '/lab/test.html'
    title       = `Test | ${name}`
    description = 'Testing new stuff.'

//- block header

//- block append style
  style.
  //- style.

block article
  article._article

    +btns
      button(onclick="alert('Test run ..')") Test Run
    hr
    section._container: pre._scrollable.pre.
      // #{description}
    //- pre.

//- block append script
  script.
    (()=>{
    })();
  //- script.