extends test_

block append vars
  -
    pageid      = 'lab/test'
    pageUrl     = siteUrl + '/lab/test.html'
    title       = `Test`
    description = 'Testing new stuff'

//- block header

//- block append style
  style.
  //- style.

block article
  article._article

    +btns
      button._a3(onclick="test.reset()") Reset
      button._a3(onclick="test.run('Test run ..')") Test Run
    hr
    section._container: pre._scrollable.pre#pre.
      // #{description}
    //- pre.
    script.
      (()=>{
        const
          w = window,
          d = document,
          pre = d.getElementById('pre'),
          pre_text = pre.innerHTML,
          reset = () => {
            pre.innerHTML = pre_text;
          },
          run = ()=>{
            pre.innerHTML += `\n`+Math.random().toString(36).substring(2,10);
          };
        Object.assign(w.test=w.test||{},{
          run, reset
        });
      })();
    hr

//- block append script
  script.
    (()=>{
    })();
  //- script.