extends test_

block append vars
  -
    pageid      = 'lab/test'
    pageUrl     = siteUrl + '/lab/test.html'
    title       = `Test`
    description = 'Testing new stuff'

//- block header

//- block append style
  style.
  //- style.

block article
  article._article
    +btns
      button._a3(onclick="test.reset()") Reset
      button._a3(onclick="test.run('Test run ..')") Test Run
    hr._mb0
    section._scrollable(style="height:400px")#sec
      pre.pre#pre._container| // #{description} ..
    hr._mt0

block append script
  script.
    (()=>{
      let test = '';
      const
        w = window,
        d = document,
        eid = e => d.getElementById(e),
        sec = eid('sec'),
        pre = eid('pre'),
        pre_text = pre.innerHTML,
        { log, clear } = console,
        assign = (target, obj) => Object.assign(target = target || {},obj),
        scroll = () => { sec.scrollTo(0, sec.scrollHeight); },
        reset = () => { test = ''; pre.innerHTML = pre_text; },
        run = () => {
          test += Math.random().toString(36).substring(2, 10)+'\n';
          pre.innerHTML = test;
          scroll();
        };
      assign(w.test,{ run, reset });
    })();
  //- script.
    (()=>{
    })();
  //- script.