extends _html

mixin topRightNav
  style.
      #topRightNav { position:fixed; top:0;right:0; padding:.65rem }
      #topRightNav ._a3 {
        font-family:"Arial",sans-serif;
        font-size:1.225rem;
        text-decoration:none;
        text-align:center;
        vertical-align:top;
        display:inline-block;
        box-sizing:border-box;
        line-height:1em;
        width:1.5rem;
        height:1.5rem;
        min-width:1.5rem;
        min-height:1.5rem;
        margin:0 0 0 .25rem;
        padding:0;
        border:1px solid #888;
        font-weight:normal;
        border-radius:.3rem;
        color:inherit !important;
      }
      #topRightNav ._a3 i { font-style:normal }
      #topRightNav .sun { font-size: 1.3rem; line-height: 1.4rem; }

  //- style.
  aside#topRightNav
    +a._needjs._a3._color(onclick=onclick('test.disableStyle();') title="Toggle Style"): i._icon|s
    +changeThemeLink._a3._color: i._icon.sun|☀

  //- aside
  script.
    (()=>{
      var m = 'all';
      const
      w = window,
      d = document,
      setMedia = (id,media) => { d.getElementById(id).setAttribute("media",media) },
      disableStyle = ()=>{
        m=m==='all'?'x':'all';
        mi=m==='all'?'x':'all';
        setMedia("_coreStyle",mi);
        setMedia("_style",m);
        setMedia("_basicStyle",m);
      };
      Object.assign(w.test=w.test||{},{
        disableStyle
      });
    })();
  //- script.

block append widget
  +topRightNav
