extends _html_test

block append vars
  -
    pageid      = 'lab/test'
    pageUrl     = siteUrl + '/lab/test.html'
    title       = `Test | ${name}`
    description = 'Testing new stuff.'

//- block append style
  style.
  //- style.

block article

  +topRightNav

  article._article

    section._container: pre._scrollable.pre.
      // Tests goes here ..
    //- pre.

//- block append script
  script.
    (()=>{
    })();
  //- script.