extends _html

block append vars
  -
    pageid      = 'lab/text'
    pageUrl     = siteUrl + '/lab/text.html'
    title       = `Text | ${name}`
    description = 'Testing text.'
  -
    cssi.gridlines = 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1px" height="10px"><rect width="1" height="1" fill="%23A9790688" /></svg>';

block article
  article._article
    section._container: pre._scrollable.pre.
      // Testing text ..
    //- pre.

    style.
      .gridlines {
        min-height: 100px;
        background-image: url('!{cssi.gridlines}');
        background-repeat: repeat;
      }

      .g{display:flex;flex-flow:row wrap;align-content:flex-start}
      .u{display:inline-block;vertical-align:top}
      .demo .u { margin: 0 2px; padding-bottom: 18px; }

      .io1  { background: #66668844; box-shadow:0 1px orange; }
      .io2  { background: #66886644; box-shadow:0 1px orange; }
    //- style.

    mixin rag(x)
      - var n = 0
      while n < x
        if(n%2==0)
          .io2 T_#[sup._sup T]#[sub._sub _]
        else
          .io1 &nbsp;
        - n++
    //- mixin

    section._flex._960

      ._f.g.demo.gridlines(style="flex: 1 0 340px;")
        .u._t1: +rag(13)
        .u._t2: +rag(12)
        .u._t3: +rag(11)
        .u._t4: +rag(10)
        .u._t5: +rag(9)
        .u._t6: +rag(8)
        .u._t7: +rag(7)

      ._f.g.demo.gridlines(style="flex: 1 0 340px;")
        .u._t8: +rag(5)
        .u._t9: +rag(5)
        .u._t10: +rag(5)

    //- flex
