extends _html

block append vars
  -
    pageid      = 'lab/text'
    pageUrl     = siteUrl + '/lab/text.html'
    title       = `Text`
    description = 'Testing text.'
  -
    cssi.gridlines = 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1px" height="10px"><rect width="1" height="1" fill="%23A9790688" /></svg>';

block article
  article._article
    section._container: pre._scrollable.pre.
      // Testing text ..
    //- pre.
