extends test_

block append vars
  -
    pageid      = 'test/view'
    pageUrl     = siteUrl + '/test/view.html'
    title       = `View | ${name}`
    description = 'Testing view.'

block append style
  style.
    body { box-shadow: 0 0 0 3px #3355CC inset }
    body #topRightNav { box-shadow: 0 0 0 3px #cc33cc inset }
    body #topRightNav { top:.5rem; right:.5rem; }
    ._article { box-shadow: 0 0 0 3px #2a8e39 inset }
    #overflow { color: #2a8e39 }
    
    body.fullview #topRightNav { margin-right:15px }
    body.fullview   { overflow:auto; position: absolute; top: 0; right: 0; bottom: 40px; left: 0; }
    
    html.fullscreen { overflow:auto scroll }
    body.fullscreen { overflow:auto; position: absolute; top: 0; right: 0; bottom: auto; left: 0; height:auto; min-height:100%; }
  
  //- style.

block header
  +simpleHeader

block article
  article._article._container: ._pa_125

    +btns
      button(onclick="view.reset();" title="Reset") R
      button(onclick="view.overflow();" title="Overflow Content") O
      +I
      button(onclick="view.fullview();" title="Fullview") FV
      button(onclick="view.fullscreen();" title="Fullscreen") FS
    hr
    section._container: pre._scrollable.pre.
      // #{description}
      // htmlClass: #[span#htmlClass|#{htmlClass.join(' ')}]
      // bodyClass: #[span#bodyClass|#{bodyClass.join(' ')}]
    //- pre.
    section#overflow._mono._text_center| === Bottom ====

block append script
  script.
    (()=>{
      const
        w = window,
        d = document,
        eid = (id) => d.getElementById(id),
        hid = (id,html) => eid(id).innerHTML=html,
        storage = localStorage,
        { log } = console;
      d.html = d.documentElement;
      var
        dc = d.html.className,
        bc = d.body.className,
        fullview = false,
        fullscreen = false,
        overflow = false;
      const
        set = ()=>{
          hid('htmlClass',d.html.className);
          hid('bodyClass',d.body.className);
          eid('overflow').setAttribute('style','margin-top:'+(overflow?'100vh':'0'));
        },
        v = w.view = {};
      d.addEventListener('DOMContentLoaded',()=>{
        dc = d.html.className;
        bc = d.body.className;
        set();
      })
      v.overflow = ()=>{
        overflow=!overflow;
        set();
      };
      v.reset = ()=>{
        fullview = false;
        fullscreen = false;
        bottom = false;
        d.html.className = dc;
        d.body.className = bc;
        set();
      };
      v.fullview = ()=>{
        fullview=!fullview;
        fullscreen = false;
        d.html.className = (fullview?dc+' fullview':dc);
        d.body.className = (fullview?bc+' fullview':bc);
        set();
      },
      v.fullscreen = ()=>{
        fullview = false;
        fullscreen=!fullscreen;
        d.html.className = (fullscreen?dc+' fullscreen':dc);
        d.body.className = (fullscreen?bc+' fullscreen':bc);
        set();
      };
    })();
  //- script.