extends test_

block append vars
  -
    pageid      = 'test/view'
    pageUrl     = siteUrl + '/test/view.html'
    title       = `View`
    description = 'Testing view'

block append style
  style.

    #_views { box-shadow: 0 0 0 3px #3355CC inset;padding:3px; }
    .fullview #_views { padding-right:0 }

    ._article    { box-shadow: 0 0 0 3px #2a8e39 inset;padding:3px;box-sizing:border-box; }
    #topRightNav { box-shadow: 0 0 0 3px #cc33cc inset; }
    #overflow    { color: #2a8e39 }

    .fullview #topRightNav { right:0;margin-right:15px; }
    .fullview #_views {
      overflow:auto scroll;
      position: absolute; top: 0; right: 0; bottom: 40px; left: 0; height:auto; min-height:0;
    }
    .fullview ._view { padding:0 }
    #_footer._color { background:none }
    
  //- style.
    
    .fullscreen #_views { overflow:auto; position: absolute; top: 0; right: 0; bottom: auto; left: 0; height:auto; min-height:100%;margin:0;padding:0 }

  //- style.
    
block article
  article._article: ._pad

    +btns
      button._a3m(onclick="view.reset();" title="Reset") Reset
      +I
      button._a3m(onclick="view.fullview();" title="Fullview") Fullview
      //- button(onclick="view.fullscreen();" title="Fullscreen") FS
      +I
      button._a3m(onclick="view.overflow();" title="Overflow Content") Overflow
    hr
    section._container._scrollable: pre.pre.
      // #{description}
      // htmlClass: #[span#htmlClass|#{htmlClass.join(' ')}]
      // bodyClass: #[span#bodyClass|#{bodyClass.join(' ')}]
    //- pre.
    section#overflow._mono._text_center| === Bottom ===

block append script
  script.
    (()=>{
      const
        w = window,
        d = document,
        eid = (id) => d.getElementById(id),
        hid = (id,html) => eid(id).innerHTML=html,
        storage = localStorage,
        { log } = console;
      d.html = d.documentElement;
      var
        dc = d.html.className,
        bc = d.body.className,
        fullview = false,
        fullscreen = false,
        overflow = true;
      const
        set = ()=>{
          hid('htmlClass',d.html.className);
          hid('bodyClass',d.body.className);
          eid('overflow').setAttribute('style','margin-top:'+(overflow?'100vh':'0'));
        },
        v = w.view = {};
      d.addEventListener('DOMContentLoaded',()=>{
        dc = d.html.className;
        bc = d.body.className;
        setTimeout(()=>{
          dc = d.html.className;
          bc = d.body.className;
        },500)
        set();
      })
      v.overflow = ()=>{
        overflow=!overflow;
        set();
      };
      v.reset = ()=>{
        fullview = false;
        fullscreen = false;
        overflow = false;
        d.html.className = dc;
        d.body.className = bc;
        set();
      };
      v.fullview = ()=>{
        fullview=!fullview;
        fullscreen = false;
        d.html.className = (fullview?dc+' fullview':dc);
        set();
      },
      v.fullscreen = ()=>{
        fullview = false;
        fullscreen=!fullscreen;
        d.html.className = (fullscreen?dc+' fullscreen':dc);
        set();
      };
    })();
  //- script.