extends ../_basic/_error

block append vars
  -
    pageid      = '404'
    pageUrl     = siteUrl + '/404'
    title       = `Not found`
    description = 'There is nothing to show.'

  - heading = 'Not found'
  - about   = 'Sorry, there is nothing to show.'

  //- Sorry, there is nothing to show.
  //- We can't find what you're looking for.
  //- Sorry, you are looking for something that does not exist.
