//- ==============================================================
//- Basic SEO
//- ==============================================================

//- metas
-
  temp = [
    ["description",description||'[undescribed]'],
    ["author",author||'[unknown]'],
    ["publisher",publisher||'[unknown]'],
  ];
each v in temp
  meta(name=v[0] content=v[1])/

//- Open Graph protocol
//- : to optimize your web page for social media sharing.
-
  temp = [
    ["og:title",og_title||'[untitled]'],
    ["og:description",og_description||'[undescribed]'],
    ["og:type",og_type||'[unknown]'],
    ["og:url",og_url||'[unknown]'],
    ["og:image",og_image],
    ["og:image:alt",og_imageAlt],
  ];
each v in temp
  meta(property=v[0] content=v[1])/
